// Setup material theme
@use '~@angular/material' as mat;
@include mat.core();
@import "~@angular/material/theming";

// Include Material Icons // TODO : Offline this
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

// Previous Palette
// $angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
// $angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// $angular-primary: mat.define-palette(mat.$light-blue-palette, A200, A100, A404);
$angular-primary: mat.define-palette(mat.$deep-purple-palette, 400);
$angular-accent: mat.define-palette(mat.$deep-orange-palette, 400);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include mat.all-component-themes($angular-default-theme);

// Color toggle button
@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-button-toggle {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }
}
// Include the mixin
@include mix-app-theme($angular-default-theme);

// Setup Dark Mode
// $angular-primary-dark: $angular-primary;
$angular-primary-dark: mat.define-palette(mat.$deep-purple-palette, 400, 100, 600, 200); // lightening text
$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary-dark,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
  @include mix-app-theme($angular-dark-theme);

  a {
    color: mat-color($angular-accent);
  }

  // Trying to get panes to color a little lighter as content areas like a table does
  // $tableBackground: map-get($angular-dark-theme, background-color);
  // .pane {
  //   background-color: mat-color($tableBackground);
  // }
}

// TODO : Expose background colors for other components to use
// See https://stackoverflow.com/questions/60504511/angular-material-coloring-app-background-dynamically-does-not-work
// $component-background-color: map-get($angular-default-theme, )

// Set a theme
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; // indigo-pink.css";
