
$appLogoSize: 100px;
$spinnerSize: 100px;

.login-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .app-logo {
    display: inline-block;
    width: $appLogoSize;
    height: $appLogoSize;
    margin-right: 0.4rem;

    background-size: cover;
    // reddish
    background-image: url("../../../assets/image/302x302/bitcoin-s.png");
  }

  .login-form {
    
  }

  .button-group {
    display: flex;
    flex-direction: row;

    button:not(:last-of-type) {
      margin-right: 1rem;
    }

    .spinner {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }

  .debug-button-group {
    margin-top: 2rem;

    button:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  // Overlay to show that state is loading
  .spinner-container {
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: $spinnerSize;
    height: $spinnerSize;
    margin: auto;
  }
  
}
