<section class="contract-detail">
  <div class="section-header">
    <h2 translate>contractDetail.heading</h2>
    <div class="section-header-button-group">
      <div *ngIf="executing" class="spinner">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      <!-- <button mat-icon-button matTooltip="{{ 'action.reload' | translate }}"
        (click)="onReloadContract()">
        <mat-icon>refresh</mat-icon>
      </button> -->
      <button mat-icon-button class="close-button" matTooltip="{{ 'action.close' | translate }}"
        (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <form class="form-container" [formGroup]="form" autocomplete="off">
    <fieldset>
      <mat-form-field class="w-100">
        <mat-label translate>contractDetail.eventId</mat-label>
        <input matInput [value]="contractInfo.oracleInfo.announcement.event.eventId" readonly>
      </mat-form-field>

      <div class="mat-form-field-row">
        <mat-form-field>
          <mat-label translate>contractDetail.state</mat-label>
          <input matInput [value]="dlc.state" readonly>
          <button *ngIf="isCancelable(dlc.state)" [disabled]="executing"
            class="mat-flat-button-sm" mat-flat-button color="warn" matSuffix
            (click)="onCancelContract()">
            <span translate>contractDetail.cancelContract</span>
          </button>
          <button *ngIf="isRefundable(dlc.state)" [disabled]="executing"
            class="mat-flat-button-sm" mat-flat-button color="warn" matSuffix
            (click)="onRefund()">
            <span translate>contractDetail.refundContract</span>
          </button>
        </mat-form-field>
        <!-- Use checkbox? -->
        <mat-form-field class="narrow">
          <mat-label translate>contractDetail.initiator</mat-label>
          <input matInput [value]="dlc.isInitiator" readonly>
        </mat-form-field>
        <mat-form-field class="narrower">
          <mat-label translate>contractDetail.feeRate</mat-label>
          <input matInput [value]="dlc.feeRate" readonly>
          <span matSuffix translate>unit.satsPerVbyte</span>
        </mat-form-field>
      </div>

      <div class="mat-form-field-row">
        <mat-form-field>
          <mat-label translate>contractDetail.contractMaturity</mat-label>
          <input matInput [value]="contractMaturity" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label translate>contractDetail.contractTimeout</mat-label>
          <input matInput [value]="contractTimeout" readonly>
        </mat-form-field>
      </div>

      <!-- Collateral -->
      <label class="mat-form-label" translate>contractDetail.collateral</label>
      <div class="mat-form-field-row">
        <mat-form-field class="narrow">
          <mat-label translate>contractDetail.totalCollateral</mat-label>
          <input matInput [value]="formatNumber(dlc.totalCollateral)" readonly>
          <span matSuffix translate>unit.sats</span>
        </mat-form-field>
        <mat-form-field class="narrow">
          <mat-label translate>contractDetail.localCollateral</mat-label>
          <input matInput [value]="formatNumber(dlc.localCollateral)" readonly>
        </mat-form-field>
        <mat-form-field class="narrow">
          <mat-label translate>contractDetail.remoteCollateral</mat-label>
          <input matInput [value]="formatNumber(dlc.remoteCollateral)" readonly>
        </mat-form-field>
      </div>

      <!-- Enum / Numeric Outcomes -->
      <div *ngIf="isEnum()" class="enum-outcomes">
        <label class="mat-form-label" translate>contractDetail.outcomePayouts</label>
        <!-- TODO : Use grid -->
        <div class="enum-group" *ngFor="let l of Object.keys(getEnumContractDescriptor().outcomes)">
          <label class="outcome-label">{{ l }}</label>
          <input class="outcome-payout text-right" [value]="getOutcomeValue( getEnumContractDescriptor().outcomes[l] )" disabled>
          <span translate>unit.sats</span>
        </div>
      </div>
      <div *ngIf="isNumeric()" class="numeric-outcomes">
        <label class="mat-form-label" translate>contractDetail.payoutCurve</label>
        <!-- TODO : Use grid -->
        <div class="numeric-group heading-group">
          <label class="outcome-heading text-center" translate>newOffer.outcome</label>
          <label class="payout-heading text-center" translate>newOffer.payout</label>
          <label class="endpoint-heading text-center" translate>newOffer.endpoint</label>
        </div>
        <div class="numeric-group">
          <label class="outcome-heading text-center">{{ units }}</label>
          <label class="payout-heading text-center" translate>unit.satoshis</label>
        </div>
        <div class="numeric-group" *ngFor="let p of getNumericContractDescriptor().payoutFunction.points">
          <label class="outcome-label">{{ p.outcome }}</label>
          <input class="outcome-payout text-right" [value]="getOutcomeValue( p.payout )" disabled>
          <input type="checkbox" [checked]="p.isEndpoint" disabled>
        </div>

        <div class="vspacer-1"></div>

        <canvas baseChart
          [data]="chartData"
          [options]="chartOptions"
          [type]="'scatter'">
        </canvas>

      </div>
      <ng-container *ngIf="outcome">
        <mat-form-field>
          <mat-label translate>contractDetail.outcome</mat-label>
          <input matInput [value]="outcome" readonly>
          <span matSuffix translate>unit.sats</span>
        </mat-form-field>
      </ng-container>

      <!-- Payout -->
      <ng-container *ngIf="dlc.myPayout !== undefined && dlc.counterPartyPayout !== undefined && dlc.pnl !== undefined && dlc.rateOfReturn !== undefined">
        <label class="mat-form-label" translate>contractDetail.contractOutcome</label>
        <div class="mat-form-field-row">
          <mat-form-field class="narrow">
            <mat-label translate>contractDetail.pnl</mat-label>
            <input matInput [value]="formatNumber(dlc.pnl)" readonly>
            <span matSuffix translate>unit.sats</span>
          </mat-form-field>
          <mat-form-field class="narrow">
            <mat-label translate>contractDetail.yourPayout</mat-label>
            <input matInput [value]="formatNumber(dlc.myPayout)" readonly>
          </mat-form-field>
          <mat-form-field class="narrow">
            <mat-label translate>contractDetail.counterpartyPayout</mat-label>
            <input matInput [value]="formatNumber(dlc.counterPartyPayout)" readonly>
          </mat-form-field>
        </div>
        <!--
        <div class="mat-form-field-row">
            <mat-label translate>contractDetail.rateOfReturn</mat-label>
            <input matInput [value]="formatPercent(dlc.rateOfReturn, 2, false)" readonly>
            <span matSuffix translate>unit.percent</span>
          </mat-form-field>
        </div>
        -->
      </ng-container>

      <div class="spacer"></div>
      
      <div class="mat-form-field-row">
        <mat-form-field class="narrow ellipsis">
          <mat-label translate>contractDetail.dlcId</mat-label>
          <input matInput [value]="dlc.dlcId" readonly>
          <button mat-icon-button matSuffix (click)="copyToClipboard(dlc.dlcId)">
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="narrow ellipsis">
          <mat-label translate>contractDetail.contractInfo</mat-label>
          <input matInput [value]="dlc.contractInfo" readonly>
          <button mat-icon-button matSuffix (click)="copyToClipboard(dlc.contractInfo)">
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field *ngIf="dlc.contractId" class="narrow ellipsis">
          <mat-label translate>contractDetail.contractId</mat-label>
          <input matInput [value]="dlc.contractId" readonly>
          <button mat-icon-button matSuffix (click)="copyToClipboard(dlc.contractId)">
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
        <!-- Only show tempContractId when there is not a final contractId -->
        <mat-form-field *ngIf="!dlc.contractId" class="medium ellipsis">
          <mat-label translate>contractDetail.tempContractId</mat-label>
          <input matInput [value]="dlc.tempContractId" readonly>
          <button mat-icon-button matSuffix (click)="copyToClipboard(dlc.tempContractId)">
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <ng-container *ngIf="showTransactionIds()">
        <div class="mat-form-field-row">
          <mat-form-field class="ellipsis">
            <mat-label translate>contractDetail.fundingTransactionId</mat-label>
            <input matInput [value]="dlc.fundingTxId ? dlc.fundingTxId : ''" readonly>
            <button *ngIf="isFundingTxRebroadcastable(dlc.state)" matSuffix
              mat-flat-button color="primary" class="mat-flat-button-sm"
              (click)="onRebroadcastFundingTransaction()" [disabled]="executing">
              <span translate>contractDetail.rebroadcast</span>
            </button>
            <!-- TODO : Link -->
          </mat-form-field>
          <mat-form-field class="ellipsis">
            <mat-label translate>contractDetail.closingTransactionId</mat-label>
            <input matInput [value]="dlc.closingTxId ? dlc.closingTxId : ''" readonly>
            <button *ngIf="dlc.closingTxId" matSuffix
              mat-flat-button color="primary" class="mat-flat-button-sm"
              (click)="onRebroadcastClosingTransaction()" [disabled]="executing">
              <span translate>contractDetail.rebroadcast</span>
            </button>
            <!-- TODO : Link -->
          </mat-form-field>
        </div>
        <div class="mat-form-field-row">
          <mat-form-field class="ellipsis">
            <mat-label translate>contractDetail.oracleAttestations</mat-label>
            <input matInput [value]="oracleAttestations" [readonly]="!isExecutable(dlc.state)"
              (paste)="onAttestationsPaste($event)">
            <button *ngIf="isExecutable(dlc.state)" matSuffix
              mat-flat-button color="primary" class="mat-flat-button-sm"
              (click)="onOracleAttestations()"
              [disabled]="!oracleAttestations || executing">
              <span translate>action.execute</span>
            </button>
          </mat-form-field>
        </div>
      </ng-container>

    </fieldset>
  </form>

  <!-- Action Buttons -->
  <div *ngIf="!accept && !sign" class="button-group" hidden>
    <!-- <button mat-stroked-button color="warn" (click)="onCancelContract()"
      [disabled]="!isCancelable(dlc.state) || executing">
      <span translate>contractDetail.cancelContract</span>
    </button>
    <button mat-stroked-button color="warn" (click)="onRefund()"
      [disabled]="!isRefundable(dlc.state) || executing">
      <span translate>contractDetail.refundContract</span>
    </button> -->
    <!-- Don't have sha256 id to do this operation yet. -->
    <button mat-stroked-button (click)="onViewOnOracleExplorer()"
      disabled>
      <span translate>contractDetail.viewOnOracleExplorer</span>
    </button>
  </div>

  <!-- Signing Accept -->
  <div *ngIf="accept" class="accept-group">
    <h2 translate>contractDetail.signAcceptOffer</h2>
    <div class="description text-justify" translate>contractDetailDescription.signAcceptOffer</div>

    <form class="form-container" [formGroup]="form" autocomplete="off">
      <fieldset>
        <mat-form-field class="w-100">
          <mat-label translate>contractDetail.filename</mat-label>
          <input matInput formControlName="filename" type="text"
            placeholder="{{ 'contractDetail.defaultSignFilename' | translate }}">
          <app-more-info matSuffix tooltip="contractDetailDescription.filename"></app-more-info>
        </mat-form-field>
      </fieldset>
    </form>

    <div class="execute-container">
      <div class="button-group">
        <button mat-flat-button color="primary" (click)="onSign()"
          [disabled]="form.invalid || !dlc.isInitiator || executing || acceptSigned">
          <mat-icon class="material-icons-outlined">file_download</mat-icon>
          <span translate>action.execute</span>
        </button>
        <div class="spinner" [hidden]="!executing">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      </div>
    </div>
    <app-alert *ngIf="!dlc.isInitiator" [type]="AlertType.warn" icon="warning_amber"
      message="contractDetailDescription.cannotSignOwnAccept"></app-alert>
    <app-alert *ngIf="acceptSigned" [type]="AlertType.success" icon="check_circle"
      message="contractDetail.acceptSigned"></app-alert>
  </div>

  <!-- Counter-sign and broadcast  -->
  <div *ngIf="sign" class="sign-group">
    <h2 translate>contractDetail.broadcastSigned</h2>
    <div class="description text-justify" translate>contractDetailDescription.broadcastSigned</div>

    <div class="execute-container">
      <div class="button-group">
        <button mat-flat-button color="primary" (click)="onBroadcast()"
          [disabled]="dlc.isInitiator || executing || signBroadcast">
          <span translate>action.execute</span>
        </button>
        <div class="spinner" [hidden]="!executing">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      </div>
    </div>

    <app-alert *ngIf="dlc.isInitiator" [type]="AlertType.warn" icon="warning_amber"
      message="contractDetailDescription.cannotBroadcastOwnSign"></app-alert>
    <app-alert *ngIf="signBroadcast" [type]="AlertType.success" icon="check_circle"
      message="contractDetail.signBroadcast"></app-alert>
  </div>

</section>
