.contract-detail {

  .field-group {
    label {
      display: inline-block;
      width: 12rem;
    }
    input {
      display: inline-block;
      width: 12rem;
    }
    span {
      margin-left: 0.25rem;
    }
  }

  .enum-outcomes {
    .enum-group {
      margin-left: 1rem;

      label {
        display: inline-block;
        width: 12rem;
      }
      input {
        display: inline-block;
        width: 6rem;
      }
      span {
        margin-left: 0.25rem;
      }
    }
  }

  .spacer {
    height: 1rem;
  }

  .contract-detail-grid {
    
  }
}
