
.alert {
  padding: 1.5rem;
  color: white;
  margin-top: 1rem;
  // text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    margin-right: 0.5rem;
  }
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-warn {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
