
.form-container {
  min-width: 450px; // to see a full address
  fieldset {
    display: flex;
    flex-direction: column;

    button[matSuffix] {
      margin-left: 0.5rem;
    }
    span {
      margin-left: 0.5rem;
    }
  }
}
