@import '../../scss/breakpoints';

.oracle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .oracle-header {
    width: 96%; // feels like a hack
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: 1rem;

    // test
    // flex: 1;
    // flex-basis: 0;
    
    .bull-image {
      max-width: 300px;
      width: 100%;
      height: auto;
    }

    .oracle-form {
      flex: 1;
      max-width: 600px;
      
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin: 1rem 1rem 0 1rem;
    }
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 1rem;

    .spacer {
      width: 2rem;
    }

    button {
      span {
        margin-left: 0.4rem;
      }
      @include lt-md {
        .button-label {
          display: none;
        }
      }
    }
  }

  .debug-buttons {
    text-align: center;

    .debug-label {
      
    }

    .debug-button-group {
      margin-bottom: 1rem;
    }
  }
  
  .table-container {
    display: flex;
    justify-content: center;

    margin-bottom: 1rem;
    
    .event-table {
  
      th.mat-sort-header-sorted {
        color: black;
      }

      tr {
        cursor: pointer;
      }
  
      td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      // Column padding
      .mat-header-cell, .mat-cell, .mat-footer-cell {
        padding-left: 1rem;
        padding-right: 2rem;
        &:first-of-type {
          padding-left: 1rem;
        }
        &:last-of-type {
          padding-right: 1rem;
        }
      }

      .mat-column-announcement {
        text-align: center;
        .outcome-label {
          margin-left: 0.25rem;
          vertical-align: super;
        }
      }

      .mat-column-attestations {
        max-width: 200px;
      }

      .mat-column-signedOutcome {
        .signedOutcome-container {
          display: flex;
          align-items: center;

          max-height: 45px; // spinner blows out height otherwise

          .spinner {
            margin-left: 0.5rem;
          }
        }
      }

      .icon-inactive {
        opacity: 0.25;
      }

      // Hide Outcomes and Attestations on narrow screens
      @include lt-md {
        .mat-column-outcomes {
          display: none;
        }
      }
      @include lt-lg {
        .mat-column-maturationTime {
          display: none;
        }
      }
    }
  }

  .spinner {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .footer {
    display: flex;
    font-size: smaller;
    color: #8c959f;

    .label {
      margin-right: 0.25rem;
    }
    .server-version {
      margin-right: 1rem;
    }
    .version {
      margin-right: 0.25rem;
    }
    .date {
      margin-right: 1rem;
    }
  }

}