<section class="new-announcement-section">
  <div class="section-header">
    <h2 translate>createAnnouncement.heading</h2>
    <button mat-icon-button class="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button>
  </div>

  <app-alert *ngIf="!oracleName" [type]="AlertType.warn" message="createAnnouncement.error.oracleName" icon="warning_amber"></app-alert>

  <app-alert *ngIf="announcementCreated" [type]="AlertType.success" message="createAnnouncement.success.created" icon="check_circle"></app-alert>

  <div *ngIf="!oracleName || announcementCreated" class="vspacer-2"></div>

  <mat-radio-group class="announcement-type"
    [(ngModel)]="announcementType" (ngModelChange)="announcementTypeChange()"
    [disabled]="announcementCreated">
    <mat-radio-button *ngFor="let e of announcementTypes"
      [value]="e">{{ 'announcementType.' + e | translate }}</mat-radio-button>
  </mat-radio-group>

  <div class="description">
    {{ 'createAnnouncement.description.' + announcementType | translate }}
  </div>
  
  <form *ngIf="announcementType === AnnouncementType.ENUM" [formGroup]="enumForm" class="form-container">
    <fieldset [disabled]="loading || announcementCreated">
      <mat-form-field>
        <mat-label translate>createAnnouncement.name</mat-label>
        <!-- TODO : Initial focus -- cdkFocusInitial -->
        <input matInput formControlName="eventName" type="text" autocomplete="off" autofocus
          placeholder="{{ 'createAnnouncement.namePlaceholder' | translate }}">
        <app-more-info matSuffix tooltip="createAnnouncementDescription.name"></app-more-info>
      </mat-form-field>

      <mat-form-field>
        <mat-label translate>createAnnouncement.maturationTime</mat-label>
        <input matInput autocomplete="off" formControlName="maturationTime" [matDatepicker]="datePicker" [min]="minDate"
          (cdkAutofill)="onMaturationTimeAutofill($event)"
          placeholder="{{ 'createAnnouncement.maturationTimePlaceholder' | translate }}">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        <app-more-info matSuffix tooltip="createAnnouncementDescription.maturationTime"></app-more-info>
      </mat-form-field>

      <!-- Text Field based Outcomes
      <mat-form-field>
        <mat-label translate>createAnnouncement.outcomes</mat-label>
        <input matInput formControlName="outcomes" type="text" autocomplete="off"
          placeholder="{{ 'createAnnouncement.outcomesPlaceholder' | translate }}">
        <app-more-info matSuffix tooltip="createAnnouncementDescription.outcomes"></app-more-info>
        <mat-hint align="start" translate>createAnnouncement.outcomesHint</mat-hint>
        <mat-error *ngIf="enumForm.controls.outcomes.errors?.outcomeHasEmpty">
          {{ 'createAnnouncementErrors.outcomeHasEmpty' | translate }}
        </mat-error>
        <mat-error *ngIf="enumForm.controls.outcomes.errors?.outcomeUnique">
          {{ 'createAnnouncementErrors.outcomeUnique' | translate }}
        </mat-error>
        <mat-error *ngIf="enumForm.controls.outcomes.errors?.outcomeMinTwo">
          {{ 'createAnnouncementErrors.outcomeMinTwo' | translate }}
        </mat-error>
      </mat-form-field>
      -->

      <div formArrayName="outcomes" class="outcomes">
        <div class="outcomes-label">
          <mat-label translate>createAnnouncement.outcomes</mat-label>
          <div class="spacer-auto"></div>
          <button mat-stroked-button color="primary" class="mat-stroked-button mat-stroked-icon-button"
            (click)="addOutcome()">
            <mat-icon>add_circle</mat-icon>
            <span translate>createAnnouncement.addOutcome</span>
          </button>
          <app-more-info matSuffix tooltip="createAnnouncementDescription.outcomes"></app-more-info>
        </div>
        <div *ngFor="let outcome of outcomes().controls; let outcomeIndex=index" [formGroupName]="outcomeIndex" class="outcome">
          <!-- <div class="outcome" [formGroupName]="outcomeIndex"> -->
            <mat-form-field class="w-100">
              <input matInput formControlName="value" type="text" autocomplete="off" spellcheck="false" required
                placeholder="{{ 'createAnnouncement.outcomePlaceholder' | translate : {
                  value: outcomeIndex + 1
                } }}">
              <button matSuffix mat-icon-button color="primary" class="mat-icon-button"
                (click)="removeOutcome(outcomeIndex)"
                [disabled]="outcomes().length < 3"
                matTooltip="{{ 'action.remove' | translate }}">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </mat-form-field>
          <!-- </div> -->
        </div>
        <div *ngIf="enumForm.controls.outcomes.touched" class="outcome-errors">
          <mat-error *ngIf="enumForm.controls.outcomes.errors?.outcomeHasEmpty">
            {{ 'createAnnouncementErrors.outcomeHasEmpty' | translate }}
          </mat-error>
          <mat-error *ngIf="enumForm.controls.outcomes.errors?.outcomeUnique">
            {{ 'createAnnouncementErrors.outcomeUnique' | translate }}
          </mat-error>
          <mat-error *ngIf="enumForm.controls.outcomes.errors?.outcomeMinTwo">
            {{ 'createAnnouncementErrors.outcomeMinTwo' | translate }}
          </mat-error>
        </div>
      </div>

    </fieldset>
  </form>

  <form *ngIf="announcementType === AnnouncementType.NUMERIC" [formGroup]="numericForm" class="form-container">
    <fieldset [disabled]="loading || announcementCreated">
      <mat-form-field>
        <mat-label translate>createAnnouncement.name</mat-label>
        <!-- TODO : Initial focus -- cdkFocusInitial -->
        <input matInput formControlName="eventName" type="text" autocomplete="off" autofocus
          placeholder="{{ 'createAnnouncement.namePlaceholder' | translate }}">
        <app-more-info matSuffix tooltip="createAnnouncementDescription.name"></app-more-info>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label translate>createAnnouncement.maturationTime</mat-label>
        <input matInput formControlName="maturationTime" autocomplete="off" [matDatepicker]="datePicker" [min]="minDate"
          (cdkAutofill)="onMaturationTimeAutofill($event)"
          placeholder="{{ 'createAnnouncement.maturationTimePlaceholder' | translate }}">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        <app-more-info matSuffix tooltip="createAnnouncementDescription.maturationTime"></app-more-info>
      </mat-form-field>

      <mat-form-field>
        <mat-label translate>createAnnouncement.minvalue</mat-label>
        <input matInput formControlName="minValue" type="number" autocomplete="off">
        <app-more-info matSuffix tooltip="createAnnouncementDescription.minvalue"></app-more-info>
      </mat-form-field>

      <mat-form-field>
        <mat-label translate>createAnnouncement.maxvalue</mat-label>
        <input matInput formControlName="maxValue" type="number" autocomplete="off">
        <app-more-info matSuffix tooltip="createAnnouncementDescription.maxvalue"></app-more-info>
      </mat-form-field>

      <mat-form-field>
        <mat-label translate>createAnnouncement.unit</mat-label>
        <input matInput formControlName="unit" type="text" autocomplete="off">
        <app-more-info matSuffix tooltip="createAnnouncementDescription.unit"></app-more-info>
      </mat-form-field>

      <mat-form-field>
        <mat-label translate>createAnnouncement.precision</mat-label>
        <input matInput formControlName="precision" type="number" autocomplete="off">
        <app-more-info matSuffix tooltip="createAnnouncementDescription.precision"></app-more-info>
        <mat-error *ngIf="numericForm.controls.precision.errors?.negative">
          {{ 'createAnnouncementErrors.negative' | translate }}
        </mat-error>   
      </mat-form-field>
    </fieldset>
  </form>

  <button class="create-button" mat-raised-button color="primary" (click)="onCreateAnnouncement()"
    [disabled]="!oracleName || selectedForm.invalid || loading || announcementCreated">{{ 'create' | translate }}</button>

</section>
