
.new-announcement-section {
  padding: 0 1rem;
  min-width: 350px;

  .form-container {
    fieldset {
      display: flex;
      flex-direction: column;
      // nuke default fieldset styling
      margin: unset;
      padding: unset;
      border: unset;
    }

    button {
      margin-top: 0.75rem;
    }
  }
  
  .form-container > fieldset > * {
    width: 100%;
  }
  
  .mat-radio-button {
    padding-right: 1rem;
  }
  
}
