
.new-announcement-section {
  
  .form-container {
    fieldset {
      display: flex;
      flex-direction: column;
      // nuke default fieldset styling
      margin: unset;
      padding: unset;
      border: unset;
    }

    .announcement-type {
      margin-bottom: 1.5rem;
    }

    .description {
      margin-bottom: 1rem;
    }

    button {
      margin-top: 0.75rem;
    }
  }
  
  .form-container > fieldset > * {
    width: 100%;
  }
  
  .mat-radio-button {
    padding-right: 1rem;
  }
  
}
