
.new-announcement-section {

  .mat-radio-button {
    padding-right: 1rem;
  }

  .description {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .create-button {
    width: 100%;
    margin-top: 0.75rem;
  }
  
  .form-container {
    fieldset {
      display: flex;
      flex-direction: column;
      // nuke default fieldset styling
      margin: unset;
      padding: unset;
      border: unset;

      > * {
        width: 100%;
      }
    }
  }

}
