
.configuration-section {
  display: flex;
  flex-direction: column;

  height: 100%;

  .dark-mode {
    display: flex;
    // vertical-align: middle;
    align-items: center;

    label {
      margin-right: 1rem;
      flex: 1;
    }
    mat-slide-toggle {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
  
  .form-container > * {
    width: 100%;
  }

  .button-container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;

    button {
      span {
        margin-left: 0.5rem;
      }
    }
  }
}
