<section class="configuration-section">
  <div class="section-header">
    <h2 translate>configuration.heading</h2>
    <button mat-icon-button class="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button>
  </div>

  <!-- Dark Mode Toggle -->
  <div class="dark-mode">
    <label translate>configuration.darkMode</label>
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle ngDefaultControl [formControl]="toggleControl"></mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
  </div>

  <div class="vspacer-2"></div>

  <form class="form-container">
    <mat-form-field>
      <mat-label translate>oracleExplorer.heading</mat-label>
      <mat-select [(value)]="oracleExplorer" (valueChange)="oracleExplorerChanged($event)">
        <mat-option *ngFor="let o of ORACLE_EXPLORERS" [value]="o.value">{{ o.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mat-form-field--checkbox">
      <mat-label translate>configuration.useTor</mat-label>
      <mat-checkbox [checked]="useTor" (change)="useTorChanged($event)"></mat-checkbox>
      <app-more-info matSuffix tooltip="configuration.useTorTooltip"></app-more-info>
    </div>
  </form>

  <div class="vspacer-2"></div>

  <div class="button-container">
    <button mat-stroked-button (click)="onRefreshOracleData()">
      <mat-icon>refresh</mat-icon>
      <span class="button-label" translate>oracle.refreshData</span>
    </button>
  </div>

</section>
