<mat-form-field class="mat-form-field-no-padding">
  <input #labelInput matInput [value]="label" type="text" autocomplete="off" spellcheck="false"
    (input)="onInputChange()">
  <button [disabled]="executing || !labelInput.value || !hasInputChange"
    class="mat-icon-button-sm" mat-icon-button matSuffix
    matTooltip="{{ 'addressLabel.addLabel' | translate }}"
    (click)="addLabel()">
    <mat-icon>done</mat-icon>
  </button>
  <button [disabled]="executing || !hasSavedLabelValue"
    class="mat-icon-button-sm" mat-icon-button matSuffix
    matTooltip="{{ 'addressLabel.removeLabel' | translate }}"
    (click)="clearLabel()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>
