
<button *ngIf="!showAddLabel" class="mat-stroked-icon-button-sm" mat-stroked-button
  matTooltip="{{ 'addressLabel.addLabel' | translate }}"
  (click)="onShowAddLabel()">
  <mat-icon class="material-icons-outlined">note_add</mat-icon>
</button>
<mat-form-field *ngIf="showAddLabel" class="mat-form-field-no-padding">
  <input #labelInput matInput [value]="label" type="text" autocomplete="off" spellcheck="false"
    (input)="onInputChange()" (blur)="onBlur()">
  <button [disabled]="executing || !labelInput.value || !hasInputChange"
    class="mat-icon-button-sm" mat-icon-button matSuffix
    matTooltip="{{ 'addressLabel.addLabel' | translate }}"
    (click)="addLabel()">
    <mat-icon>done</mat-icon>
  </button>
  <button [disabled]="executing || !hasSavedLabelValue"
    class="mat-icon-button-sm" mat-icon-button matSuffix
    matTooltip="{{ 'addressLabel.removeLabel' | translate }}"
    (click)="clearLabel()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>
