.configuration-section {
  padding: 0 1rem;

  display: flex;
  flex-direction: column;

  height: 100%;
  min-width: 300px;

  .dark-mode {
    display: flex;
    // vertical-align: middle;
    align-items: center;

    label {
      margin-right: 1rem;
      flex: 1;
    }
    mat-slide-toggle {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}