<section class="sign-message-section">
  <div class="section-header">
    <h2 translate>signMessage.heading</h2>
    <button mat-icon-button class="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button>
  </div>

  <form class="form-container">
    <mat-form-field>
      <input matInput name="signMessage" type="text" autocomplete="off"
        [(ngModel)]="signMessageInput" placeholder="{{ 'message' | translate }}">
    </mat-form-field>
    <button mat-raised-button color="primary" 
      (click)="onSignMessage()">{{ 'action.sign' | translate }}</button>
  </form>

  <div *ngIf="signedMessage" class="signed-message">
    <label translate>result</label>
    <textarea>{{ signedMessage }}</textarea>  
  </div>

</section>
