.sign-message-section {
  display: flex;
  flex-direction: column;

  height: 100%;

  .form-container > * {
    width: 100%;
  }

  .signed-message {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;

    height: 100%;

    label {
      margin-bottom: 0.5rem;
    }
    textarea {
      flex: 1;
      margin-bottom: 1rem;
    }
  }

}
