/* You can add global styles to this file, and also import other style files */

@use '~@angular/material' as mat;

// Include Material Icons
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

// Set a theme

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; // indigo-pink.css";
// @import 'https://cdn.rawgit.com/angular/bower-material/master/themes/orange-theme.css';


// TODO : Use https://material.angular.io/guide/theming to make custom theme
// @include mat.core();

// $my-primary: mat.define-palette(mat.$indigo-palette, 500);
// $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The "warn" palette is optional and defaults to red if not specified.
// $my-warn: mat.define-palette(mat.$red-palette);

// $my-theme: mat.define-light-theme((
//  color: (
//    primary: $my-primary,
//    accent: $my-accent,
//    warn: $my-warn,
//  )
// ));

// $my-palette: mat.$indigo-palette;


html, body { height: 100%; }
// body { font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; }

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-button {
  align-self: center;
}

// Center checkbox in pseudo-mat-form-field
.mat-form-field--checkbox {
  display: flex;
  flex-direction: row;

  mat-checkbox {
    margin: auto;
  }
}
