@import "./scss/material-theme";

/** General HTML */

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/** Utility Classes */

/** Relative Width */
@for $i from 1 through 10 {
  $size: $i * 10;
  .w-#{$size} {
    width: percentage($size * .01);
  }
}

/** Spacing */
@for $i from 1 through 6 {
  .spacer-#{$i} {
    margin-right: #{$i}rem;
  }
}
.spacer-auto {
  margin-right: auto;
}
@for $i from 1 through 6 {
  .vspacer-#{$i} {
    height: #{$i}rem;
  }
}

/** App sections */

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.close-button {
  align-self: center;
}

/** Material Design */

/** Material Design Forms */

// Center checkbox in pseudo-mat-form-field
.mat-form-field--checkbox {
  display: flex;
  flex-direction: row;

  mat-checkbox {
    margin: auto;
  }
}

/** Drawers */
.drawer-container {
  padding: 0 1rem;
  height: 100%;
  min-width: 300px;

  .section-header {
    margin: 0;
  }
}

/** Header darkMode fix */
// Hack to fix mat-menu icon and text color
.cdk-overlay-container.darkMode {
  .mat-menu-item {
    color: #fff; // mat-color($dark-background-palette, text);
    .mat-icon.mat-icon-no-color {
      color: #fff;
    }
  }
}
