.new-user-onboarding-card-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .new-user-onboarding-card {
    position: relative;
    width: 60%;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 2em;
  }

  .new-user-onboarding-card__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .new-user-onboarding-card__animated-graphic {
    height: 220px;
  }

  .new-user-onboarding-card__primary-description {
    text-align: center;
  }
}
