<section class="accept-offer" *ngIf="offer">
  <div class="section-header">
    <h2 translate>acceptOffer.heading</h2>
    <button mat-icon-button class="close-button" matTooltip="{{ 'action.close' | translate }}" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div>
    <div class="both">
      <div class="field-group">
        <label translate>acceptOffer.eventId</label>
        <input class="wide-input" [value]="contractInfo.oracleInfo.announcement.event.eventId" disabled>
      </div>
      <div class="field-group">
        <label translate>acceptOffer.maturityDate</label>
        <input [value]="maturityDate" disabled>
      </div>

      <div class="spacer"></div>

      <div class="field-group">
        <label translate>acceptOffer.yourCollateral</label>
        <input [value]="contractInfo.totalCollateral - offer.offer.offerCollateralSatoshis" disabled>
        <span translate>unit.sats</span>
      </div>
      <div class="field-group">
        <label translate>acceptOffer.counterpartyCollateral</label>
        <input [value]="offer.offer.offerCollateralSatoshis" disabled>
        <span translate>unit.sats</span>
      </div>
      <div class="field-group">
        <label translate>acceptOffer.totalCollateral</label>
        <input [value]="contractInfo.totalCollateral" disabled>
        <span translate>unit.sats</span>
      </div>
    </div>

    <div *ngIf="isEnum()" class="enum-offer">
      <div class="outcome-group">
        <div class="field-group">
          <label class="outcome-label text-center" translate>newOffer.outcome</label>
          <label class="payout-label text-center" translate>newOffer.payout</label>
          <app-more-info matSuffix tooltip="newOfferDescription.outcomes"></app-more-info>
        </div>
        <div *ngFor="let label of Object.keys(enumContractDescriptor.outcomes)" class="field-group">
          <label>{{ label }}</label>
          <input type="number" [value]="contractInfo.totalCollateral - enumContractDescriptor.outcomes[label]" disabled>
        </div>
      </div>
    </div>

    <div *ngIf="isNumeric()" class="numeric-offer">
      <div class="outcome-group">
        <div class="numeric-payout-group">
          <label class="outcome-label text-center" translate>newOffer.outcome</label>
          <label class="payout-label text-center" translate>newOffer.payout</label>
          <label class="endpoint-label text-center" translate>newOffer.endpoint</label>
        </div>
        <div *ngFor="let point of numericContractDescriptor.payoutFunction.points; let i = index" class="numeric-payout-group">
          <input class="text-right" type="number" [(ngModel)]="point.outcome" disabled>
          <input class="text-right" type="number" placeholder="{{ 'unit.satoshis' | translate }}"
            [(ngModel)]="contractInfo.totalCollateral - point.payout" disabled>
          <input type="checkbox" [(ngModel)]="point.isEndpoint" disabled>
        </div>
      </div>
    </div>

    <div class="both">
      <div class="field-group">
        <label translate>acceptOffer.refundDate</label>
        <input [value]="refundDate" disabled>
      </div>
      <div class="field-group">
        <label translate>acceptOffer.feeRate</label>
        <input [value]="offer.offer.feeRatePerVb" disabled>
        <span translate>unit.satsPerVbyte</span>
      </div>

      <div class="spacer"></div>

      <div class="field-group">
        <label translate>acceptOffer.dlcOffer</label>
        <input class="wide-input" [value]="offer.hex" disabled>
      </div>
      <div class="field-group">
        <label translate>acceptOffer.oraclePublicKey</label>
        <input class="wide-input" [value]="contractInfo.oracleInfo.announcement.publicKey" disabled>
      </div>

      <div class="spacer"></div>

      <div class="field-group">
        <label translate>acceptOffer.peerAddress</label>
        <!-- 'acceptOffer.optional' -->
        <input type="text" placeholder="{{ 'acceptOffer.required' | translate }}" [(ngModel)]="peerAddress">
        <app-more-info matSuffix tooltip="acceptOfferDescription.peerAddress"></app-more-info>
      </div>
    </div>

    <div class="footer">
      <div class="button-group">
        <button mat-stroked-button color="primary" (click)="onExecute()" [disabled]="!peerAddress">{{ 'action.execute' | translate }}</button>
      </div>
      <fieldset class="result-group" [disabled]="!newOfferResult">
        <textarea class="result-textarea" [(ngModel)]="newOfferResult"></textarea>
        <button mat-icon-button class="copy-button" matTooltip="{{ 'action.copyToClipboard' | translate }}"
          (click)="onCopyResult()"><mat-icon>content_copy</mat-icon></button>
      </fieldset>
    </div>
  </div>
  
</section>
