<section class="accept-offer" *ngIf="offer">
  <div class="section-header">
    <h2 translate>acceptOffer.heading</h2>
    <div class="section-header-button-group">
      <div *ngIf="executing" class="spinner">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      <button mat-icon-button class="close-button" matTooltip="{{ 'action.close' | translate }}" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="message" class="message-container">
    <label class="message-label" translate>acceptOffer.offerMessage</label>
    <div class="message">{{ message }}</div>
  </div>

  <form class="form-container" [formGroup]="form" autocomplete="off">
    <fieldset>
      <mat-form-field class="w-100">
        <mat-label translate>acceptOffer.eventId</mat-label>
        <input matInput [value]="contractInfo.oracleInfo.announcement.event.eventId" readonly>
      </mat-form-field>

      <div class="mat-form-field-row">
        <mat-form-field>
          <mat-label translate>acceptOffer.maturityDate</mat-label>
          <input matInput [value]="maturityDate" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label translate>acceptOffer.refundDate</mat-label>
          <input matInput [value]="refundDate" readonly>
        </mat-form-field>
      </div>

      <div class="vspacer-1"></div>

      <label class="mat-form-label" translate>acceptOffer.collateral</label>
      <div class="mat-form-field-row">
        <mat-form-field class="narrow">
          <mat-label translate>acceptOffer.totalCollateral</mat-label>
          <input matInput [value]="formatNumber(contractInfo.totalCollateral)" readonly>
          <span matSuffix translate>unit.sats</span>
        </mat-form-field>
        <mat-form-field class="narrow">
          <mat-label translate>acceptOffer.yourCollateral</mat-label>
          <input matInput [value]="formatNumber(contractInfo.totalCollateral - offer.offer.offerCollateral)" readonly>
        </mat-form-field>
        <mat-form-field class="narrow">
          <mat-label translate>acceptOffer.counterpartyCollateral</mat-label>
          <input matInput [value]="formatNumber(offer.offer.offerCollateral)" readonly>
        </mat-form-field>
      </div>

      <div class="vspacer-1"></div>

      <div *ngIf="isEnum()" class="enum-offer">
        <label class="mat-form-label" translate>acceptOffer.payouts</label>
        <!-- TODO : Use grid -->
        <div class="outcome-group">
          <div class="enum-payout-group">
            <div class="icon-spacer"></div>
            <label class="outcome-heading text-center" translate>newOffer.outcome</label>
            <label class="payout-heading text-center" translate>newOffer.payout</label>
            <app-more-info matSuffix tooltip="newOfferDescription.outcomes"></app-more-info>
          </div>
          <div *ngFor="let label of Object.keys(enumContractDescriptor.outcomes)" class="enum-payout-group">
            <label class="outcome-label text-right">{{ label }}</label>
            <input class="outcome-value text-right" type="number" [value]="contractInfo.totalCollateral - enumContractDescriptor.outcomes[label]" readonly>
            <span class="unit" translate>unit.sats</span>
          </div>
        </div>
      </div>
      <div *ngIf="isNumeric()" class="numeric-offer">
        <label class="mat-form-label" translate>acceptOffer.payoutCurve</label>
        <!-- TODO : Use grid -->
        <div class="outcome-group">
          <div class="numeric-payout-group">
            <div class="icon-spacer"></div>
            <label class="outcome-heading text-center" translate>newOffer.outcome</label>
            <label class="payout-heading text-center" translate>newOffer.payout</label>
            <label class="endpoint-heading text-center" translate>newOffer.endpoint</label>
            <app-more-info matSuffix tooltip="newOfferDescription.outcomes"></app-more-info>
          </div>
          <div class="numeric-payout-group">
            <label class="outcome-heading text-center">{{ units }}</label>
            <label class="payout-heading text-center" translate>unit.satoshis</label>
            <div class="rem4-spacer"></div>
          </div>
          <div *ngFor="let point of numericContractDescriptor.payoutFunction.points; let i = index"
            class="numeric-payout-group">
            <input class="text-right" type="number" [value]="point.outcome" readonly>
            <input class="text-right" type="number" placeholder="{{ 'unit.satoshis' | translate }}"
              [value]="contractInfo.totalCollateral - point.payout" readonly>
            <input class="endpoint-checkbox" type="checkbox" [checked]="point.isEndpoint" disabled>
          </div>
        </div>

        <div class="vspacer-1"></div>

        <canvas baseChart
          [data]="chartData"
          [options]="chartOptions"
          [type]="'scatter'">
        </canvas>
       
      </div>

      <div class="vspacer-2"></div>

      <div class="mat-form-field-row">
        <mat-form-field class="ellipsis">
          <mat-label translate>acceptOffer.dlcOffer</mat-label>
          <input matInput [value]="offer.hex" readonly>
          <button mat-icon-button matSuffix (click)="copyToClipboard(offer.hex)"><mat-icon>content_copy</mat-icon></button>
        </mat-form-field>
        <mat-form-field class="ellipsis">
          <mat-label translate>acceptOffer.oraclePublicKey</mat-label>
          <input matInput [value]="contractInfo.oracleInfo.announcement.publicKey" readonly>
          <button mat-icon-button matSuffix (click)="copyToClipboard(contractInfo.oracleInfo.announcement.publicKey)"><mat-icon>content_copy</mat-icon></button>
        </mat-form-field>
      </div>

      <div class="mat-form-field-row">
        <mat-form-field class="narrower">
          <mat-label translate>acceptOffer.feeRate</mat-label>
          <input matInput [value]="offer.offer.feeRatePerVb" readonly>
          <span matSuffix translate>unit.satsPerVbyte</span>
        </mat-form-field>
      </div>

      <!-- Advanced -->
      <mat-expansion-panel *ngIf="advancedVisible">
        <mat-expansion-panel-header>
          <mat-panel-title translate>newOffer.advanced</mat-panel-title>
        </mat-expansion-panel-header>
        <zxing-scanner *ngIf="qrScanEnabled"
          [enable]="qrScanEnabled"
          (camerasFound)="camerasFoundHandler($event)"
          (camerasNotFound)="camerasNotFoundHandler($event)"
          (scanError)="scanErrorHandler($event)"
          (scanComplete)="scanCompleteHandler($event)"
        ></zxing-scanner>
        <mat-form-field class="w-100">
          <mat-label translate>newOffer.externalPayoutAddress</mat-label>
          <input formControlName="externalPayoutAddress" matInput type="text" spellcheck="false"
            (paste)="externalPayoutAddressValue = trimOnPaste($event)">
          <span matSuffix class="validation">
            <mat-icon *ngIf="externalPayoutAddress?.valid && !externalPayoutAddress?.pristine" class="material-icons-outlined"
              matTooltip="{{ 'dialog.sendFunds.addressValid' | translate }}">check_circle</mat-icon>
            <mat-icon *ngIf="externalPayoutAddress?.invalid && (externalPayoutAddress?.dirty || externalPayoutAddress?.touched)" class="material-icons-outlined"
              matTooltip="{{ 'dialog.sendFunds.addressInvalid' | translate }}">cancel</mat-icon>
          </span>
          <button *ngIf="!qrScanNoCamera" class="mat-stroked-icon-button-sm" mat-stroked-button matSuffix
            matTooltip="{{ 'dialog.sendFunds.scanQRCode' | translate }}"
            (click)="scanQRCode()">
            <mat-icon>qr_code_scanner</mat-icon>
          </button>
          <app-more-info matSuffix tooltip="newOfferDescription.externalPayoutAddress"></app-more-info>
        </mat-form-field>
      </mat-expansion-panel>
      
    </fieldset>

    <div class="vspacer-1"></div>

    <h2 translate>acceptOffer.acceptOffer</h2>
    <div class="description text-justify">
      {{ 'acceptOfferDescription.acceptOffer' | translate }}
    </div>

    <fieldset [disabled]="executing || offerAccepted">
      <mat-radio-group class="accept-offer-type"
        [value]="acceptOfferType" (change)="updateAcceptOfferType($event)">
        <mat-radio-button *ngFor="let e of acceptOfferTypes"
          [value]="e">{{ 'acceptOffer.acceptOfferType.' + e | translate }}</mat-radio-button>
      </mat-radio-group>
  
      <div class="description">
        {{ 'acceptOfferDescription.acceptOfferType.' + acceptOfferType | translate }}
      </div>

      <ng-container *ngIf="acceptOfferType === AcceptOfferType.TOR">
        <mat-form-field class="w-100">
          <mat-label translate>acceptOffer.peerAddress</mat-label>
          <input matInput formControlName="peerAddress" type="text"
            autocomplete="off" spellcheck="false" maxlength="1024"
            placeholder="{{ 'acceptOffer.peerAddressPlaceholder' | translate }}"
            (paste)="peerAddressValue = trimAndStripHTTPOnPaste($event)">
          <!-- Contact Selection -->
          <button mat-stroked-button matSuffix class="mat-stroked-icon-button-md" [matMenuTriggerFor]="contactMenu"
            matTooltip="{{ 'contacts.selectContact' | translate }}"
            [disabled]="!contactService.contacts.value || contactService.contacts.value.length === 0">
            <mat-icon class="material-icons-outlined">person_add</mat-icon></button>
          <mat-menu #contactMenu="matMenu" xPosition="before">
            <button mat-menu-item *ngFor="let contact of contactService.contacts.value"
              (click)="onContact(contact)">{{ contact.alias }}</button>
          </mat-menu>
          <app-more-info matSuffix tooltip="acceptOfferDescription.peerAddress"></app-more-info>
        </mat-form-field>
        <app-alert *ngIf="peerAddressControl?.errors?.['dontMatchInvalid']"
            [type]="AlertType.error" message="error.cannotSendToOwnHostAddress" icon="error_outline"></app-alert>
      </ng-container>

      <mat-form-field *ngIf="acceptOfferType === AcceptOfferType.FILES" class="w-100">
        <mat-label translate>acceptOffer.filename</mat-label>
        <input matInput formControlName="filename" type="text" spellcheck="false"
          placeholder="{{ 'acceptOffer.defaultFilename' | translate }}"
          (paste)="filenameValue = trimOnPaste($event)">
        <app-more-info matSuffix tooltip="acceptOfferDescription.filename"></app-more-info>
      </mat-form-field>
    </fieldset>
  </form>

  <div class="execute-container">
    <div class="button-group">
      <button mat-flat-button color="primary" (click)="onExecute()"
        [disabled]="form.invalid || executing || offerAccepted">
        <mat-icon *ngIf="acceptOfferType === AcceptOfferType.TOR" class="material-icons-outlined">cloud_sync</mat-icon>
        <mat-icon *ngIf="acceptOfferType === AcceptOfferType.FILES" class="material-icons-outlined">file_download</mat-icon>
        <span translate>action.execute</span>
      </button>
      <div class="spinner" [hidden]="!executing">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
    </div>

    <app-alert *ngIf="result" [type]="AlertType.success" [message]="result" icon="check_circle"></app-alert>
  </div>
  
</section>
