<section class="accept-offer">
  <div class="section-header">
    <h2 translate>acceptOffer.heading</h2>
    <!-- <button mat-icon-button class="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button> -->
  </div>

  <div *ngIf="offer">

    <div class="both">
      <div class="field-group">
        <label translate>acceptOffer.dlcOffer</label>
        <input [value]="offer.hex" disabled>
      </div>
      <div class="field-group">
        <label translate>acceptOffer.peerAddress</label>
        <input type="text" placeholder="{{ 'acceptOffer.optional' | translate }}" [(ngModel)]="peerAddress">
        <app-more-info matSuffix tooltip="acceptOfferDescription.peerAddress"></app-more-info>
      </div>
      <div class="field-group">
        <label translate>acceptOffer.eventId</label>
        <input [value]="contractInfo.oracleInfo.announcement.event.eventId" disabled>
      </div>
      <div class="field-group">
        <label translate>acceptOffer.oraclePublicKey</label>
        <input [value]="contractInfo.oracleInfo.announcement.publicKey" disabled>
      </div>

      <div class="field-group">
        <label translate>acceptOffer.yourCollateral</label>
        <input [value]="offer.offer.offerCollateralSatoshis - contractInfo.totalCollateral" disabled>
      </div>
      <div class="field-group">
        <label translate>acceptOffer.counterpartyCollateral</label>
        <input [value]="offer.offer.offerCollateralSatoshis" disabled>
      </div>
    </div>

    <div *ngIf="isEnum()" class="enum-offer">
      <div class="outcome-group">
        <div class="field-group">
          <label class="outcome-label text-center" translate>newOffer.outcome</label>
          <label class="payout-label text-center" translate>newOffer.payout</label>
          <app-more-info matSuffix tooltip="newOfferDescription.outcomes"></app-more-info>
        </div>
        <div *ngFor="let label of Object.keys(enumContractDescriptor.outcomes)" class="field-group">
          <label>{{ label }}</label>
          <input type="number" [(ngModel)]="enumContractDescriptor.outcomes[label]" disabled>
        </div>
      </div>
    </div>

    <div *ngIf="isNumeric()" class="numeric-offer">
      <!-- <div class="field-group">
        <label translate>acceptOffer.yourCollateral</label>
        <input [value]="contractInfo.totalCollateral - offer.offer.offerCollateralSatoshis">
      </div>
      <div class="field-group">
        <label translate>acceptOffer.counterpartyCollateral</label>
        <input [value]="offer.offer.offerCollateralSatoshis">
      </div> -->
      <div class="payout-curve">
        TODO : Payout curve preview
      </div>
      
    </div>

    <div class="both">
      <div class="field-group">
        <label translate>acceptOffer.feeRate</label>
        <input [value]="offer.offer.feeRatePerVb" disabled>
      </div>
      <div class="field-group">
        <label translate>acceptOffer.refundDate</label>
        <input [value]="offer.offer.refundLocktime" disabled>
      </div>
    </div>

    <div class="footer">
      <div class="button-group">
        <button mat-stroked-button color="primary" (click)="onExecute()">{{ 'action.execute' | translate }}</button>
      </div>
      <fieldset class="result-group" [disabled]="!newOfferResult">
        <textarea class="result-textarea" [(ngModel)]="newOfferResult"></textarea>
        <button mat-icon-button class="copy-button" matTooltip="{{ 'action.copyToClipboard' | translate }}"
          (click)="onCopyResult()"><mat-icon>content_copy</mat-icon></button>
      </fieldset>
    </div>
  </div>
  
</section>
