.accept-offer {

  .both, .enum-offer, .numeric-offer {
    .field-group {
      label {
        display: inline-block;
        width: 12rem;
      }
      input {
        display: inline-block;
        width: 10rem;
      }
      .wide-input {
        width: 16rem;
      }
      span {
        margin-left: 0.4rem;
      }
    }
    .outcome-group {
      margin: 2rem;

      .field-group {
        &:first-of-type {
          margin-bottom: 0.5rem;
        }
        
        label {
          width: 10rem;
        }

        label.outcome-label {
          width: 10rem;
        }
        label.payout-label {
          width: 24rem;
        }
      }
    }
    .spacer {
      height: 1rem;
    }
    .payout-curve {
      margin: 2rem;
    }
  }

  .footer {
    // display: flex;
    // flex-direction: row;
    width: 36rem;
    .button-group {
      text-align: right;
    }
    .result-group {
      // flex: 1;

      .result-textarea {
        width: 80%;
      }
    }
  }

}
