
.accept-offer {
  max-width: 450px;

  .enum-offer, .numeric-offer {
    .outcome-group {
      margin-bottom: 1rem;

      .enum-payout-group, .numeric-payout-group {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;

        &:first-of-type {
          margin-bottom: 0.5rem;
        }
      }

      .enum-payout-group {
        .icon-spacer {
          width: 24px;
        }
        
        label {
          display: inline-block;
          width: 8rem;
        }

        .outcome-heading {
          width: 8rem;
          margin-right: 1rem;
        }
        .payout-heading {
          width: 8rem;
          margin-right: 0.25rem;
        }

        .outcome-label {
          margin-right: 1rem;
        }
        .outcome-value {
          width: 8rem;
        }
      }

      .numeric-payout-group {
        label {
          display: inline-block;
          width: 6.5rem;
          margin-right: 0.25rem;
        }
        .outcome-heading {

        }
        .payout-heading {

        }
        .endpoint-heading {
          width: 4rem;
        }
        input[type="number"] {
          width: 6rem;
          margin-right: 0.25rem;
        }
        input[type="checkbox"] { // .endpoint-checkbox
          width: 4rem;
          vertical-align: middle;
        }
      }
    }
  }

  .form-container {
    margin-top: 1rem;
    
    .accept-offer-type {
      mat-radio-button {
        margin-right: 0.5rem;
      }
    }
    .description {
      margin: 1rem 0 1rem 0;
      line-height: 1.3;
    }
  }

  .execute-container {
    margin-bottom: 0.5rem;
  }

  .spacer {
    height: 1rem;
  }

}
