.accept-offer {

  .both, .enum-offer, .numeric-offer {
    .field-group {
      label {
        display: inline-block;
        width: 12rem;
      }
      input {
        display: inline-block;
        width: 10rem;
      }
      .wide-input {
        width: 16rem;
      }
      span {
        margin-left: 0.4rem;
      }
    }
    .outcome-group {
      margin: 2rem;

      .field-group {
        &:first-of-type {
          margin-bottom: 0.5rem;
        }
        
        label {
          width: 10rem;
        }

        label.outcome-label {
          width: 10rem;
        }
        label.payout-label {
          width: 10rem;
        }
      }
    }
    .numeric-payout-group {
      display: flex;
      flex-direction: row;

      align-items: center;

      &:first-of-type {
        margin-bottom: 0.5rem;
      }

      // Alignment here is currently ghetto
      label.outcome-label {
        display: inline-block;
        width: 6.5rem;
      }
      label.payout-label {
        display: inline-block;
        width: 6.5rem;
      }
      input[type="number"] {
        width: 6rem;
        margin-right: 0.25rem;
      }
      input[type="checkbox"] {
        width: 3rem;
        vertical-align: middle;
      }
    }
    .spacer {
      height: 1rem;
    }
  }

  .footer {
    .button-group {
      text-align: right;
    }
  }

}
