<header>
  <nav class="header">
    <a mat-button class="app-button" routerLink="/">
      <!--
      <img class="app-logo" src="assets/image/302x302/bitcoin-s.png" 
        alt="Suredbits">
      -->
      <div class="app-logo" [ngClass]="walletStateService.state"></div>
      <span translate>header.title</span>
    </a>

    <ng-container *ngIf="authService.isLoggedOut">
      <a mat-button routerLink="/login" routerLinkActive="active">
        {{ 'login.heading' | translate }}</a>

      <div class="spacer-auto"></div>

      <button class="about-icon" mat-icon-button routerLink="/about" routerLinkActive="active"
        matTooltip="{{ 'about.heading' | translate }}"
        aria-label="About">
        <mat-icon>help_outline</mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="authService.isLoggedIn">
      <a mat-button routerLink="/contracts" routerLinkActive="active">
        {{ 'contracts.heading' | translate }}</a>
      <a mat-button routerLink="/offers" routerLinkActive="active"
        matBadgePosition="after" matBadgeColor="accent"
        [matBadge]="offerService.offers.value.length"
        [matBadgeHidden]="offerService.offers.value.length === 0">
        {{ 'offers.heading' | translate }}</a>
      <a mat-button routerLink="/create" routerLinkActive="active">
        {{ 'header.createDLC' | translate }}</a>
      <a mat-button routerLink="/wallet" routerLinkActive="active">
        {{ 'walletBalance.heading' | translate }}</a>
  
      <!-- matTooltip="{{ 'header.walletBalance' | translate }}" -->
      <div *ngIf="walletStateService.balances" class="wallet-status"
        matTooltip="{{ 'header.walletBalance' | translate: { 
          confirmed: formatNumber(walletStateService.balances.confirmed),
          unconfirmed: formatNumber(walletStateService.balances.unconfirmed),
          reserved: formatNumber(walletStateService.balances.reserved),
          total: formatNumber(walletStateService.balances.total) } }}"
        matTooltipClass="ws-prewrap fs-medium lineheight-14">
        <div class="wallet-group">
          <label class="label" translate>header.total</label>
          <span class="value">{{formatNumber(walletStateService.balances.total)}}</span>
        </div>
        <!-- Show Confirmed if it's non-zero and not the same as Total -->
        <div *ngIf="walletStateService.balances.confirmed > 0 && walletStateService.balances.total !== walletStateService.balances.confirmed"
          class="wallet-group">
          <label class="label" translate>header.confirmed</label>
          <span class="value">{{formatNumber(walletStateService.balances.confirmed)}}</span>
        </div>
      </div>
  
      <div class="spacer-auto"></div>
  
      <button *ngIf="walletStateService.balances" mat-icon-button class="wallet-icon"
        [matMenuTriggerFor]="walletMenu" aria-label="Wallet">
        <span class="material-icons-outlined">account_balance_wallet</span>
      </button>
      <mat-menu #walletMenu="matMenu">
        <button mat-menu-item (click)="backendService.getNewAddress()">
          <mat-icon>add</mat-icon>
          <span translate>dialog.newAddress.title</span>
        </button>
        <button mat-menu-item (click)="backendService.sendFunds()">
          <mat-icon class="material-icons-outlined">send</mat-icon>
          <span translate>dialog.sendFunds.title</span>
        </button>
      </mat-menu>
  
      <button mat-icon-button class="upload-icon"
        matTooltip="{{ 'Upload a DLC File' | translate }}"
        [matMenuTriggerFor]="uploadMenu" aria-label="Upload a DLC File">
        <span class="material-icons-outlined">file_upload</span>
      </button>
      <mat-menu #uploadMenu="matMenu">
        <input #acceptInput hidden="true" type="file"
          onclick="this.value=null" (change)="dlcFileService.onFileSelection($event, DLCFileType.offer)"/>
        <button mat-menu-item (click)="acceptInput.click()">
          <!-- <mat-icon class="material-icons-outlined">file_upload</mat-icon> -->
          <span translate>dlcFile.chooseOffer</span>
        </button>
        <input #signInput hidden="true" type="file"
          onclick="this.value=null" (change)="dlcFileService.onFileSelection($event, DLCFileType.accept)"/>
        <button mat-menu-item (click)="signInput.click()">
          <!-- <mat-icon class="material-icons-outlined">file_upload</mat-icon> -->
          <span translate>dlcFile.chooseAccept</span>
        </button>
        <input #broadcastInput hidden="true" type="file"
          onclick="this.value=null" (change)="dlcFileService.onFileSelection($event, DLCFileType.sign)"/>
        <button mat-menu-item (click)="broadcastInput.click()">
          <!-- <mat-icon class="material-icons-outlined">file_upload</mat-icon> -->
          <span translate>dlcFile.chooseSign</span>
        </button>
      </mat-menu>
  
      <button class="about-icon" mat-icon-button routerLink="/about" routerLinkActive="active"
        matTooltip="{{ 'about.heading' | translate }}"
        aria-label="About">
        <mat-icon>help_outline</mat-icon>
      </button>
  
      <button mat-icon-button class="more-icon"
        matTooltip="{{ 'More' | translate }}"
        [matMenuTriggerFor]="moreMenu" aria-label="More">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #moreMenu="matMenu">
        <button class="about-menu-button" mat-menu-item routerLink="/about">
          <mat-icon class="material-icons-outlined">help_outline</mat-icon>
          <span translate>about.heading</span>
        </button>
        <button class="network-menu-button" mat-menu-item routerLink="/network">
          <mat-icon class="material-icons-outlined">cloud</mat-icon>
          <span translate>network.heading</span>
        </button>
        <button mat-menu-item (click)="onConfiguration()">
          <mat-icon class="material-icons-outlined">settings</mat-icon>
          <span translate>configuration.heading</span>
        </button>
        <button mat-menu-item (click)="onAdvanced()">
          <mat-icon class="material-icons-outlined">build</mat-icon>
          <span translate>advanced.heading</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon class="material-icons-outlined">logout</mat-icon>
          <span translate>action.logout</span>
        </button>
      </mat-menu>
  
      <!-- walletStateService.state !== WalletServiceState.offline -->
      <a *ngIf="walletStateService.info"
        class="network-button" mat-button routerLink="/network" routerLinkActive="active"
        matTooltip="{{ 'header.networkStatus' | translate : {
          network: walletStateService.getNetwork(),
          blockHeight: formatNumber(walletStateService.info.blockHeight), 
          fee: walletStateService.feeEstimate } }}"
        matTooltipClass="ws-prewrap fs-medium lineheight-14">
        <!-- <div 
          matTooltip="{{ 'header.networkStatus' | translate : {
            network: walletStateService.getNetwork(),
            blockHeight: formatNumber(walletStateService.info.blockHeight), 
            fee: walletStateService.feeEstimate } }}"
          matTooltipClass="ws-prewrap fs-medium lineheight-14"> -->
          <!-- <div class="wallet-group">
            <label class="label" translate>header.blockHeight</label>
            <span class="value">{{formatNumber(walletStateService.info.blockHeight)}}</span>
          </div> -->
          <!-- <div class="wallet-group"> -->
            <mat-icon class="mat-icon-sm">cloud</mat-icon>
            <!-- <label class="label" translate>header.network</label> -->
            <span class="network-name">{{walletStateService.getNetwork()}}</span>
          <!-- </div> -->
        <!-- </div> -->
      </a>
  
      <!--
      <div class="indicator-padding"></div>
  
      <div class="backend-status">
        <div class="indicator" [ngClass]="walletStateService.state"
          matTooltip="{{ 'WalletServiceState.' + WalletServiceState[walletStateService.state] | translate }}"></div>
      </div>
      -->
  
      <!--
      <div *ngIf="walletStateService.info && walletStateService.state !== WalletServiceState.offline" 
        class="network-status" 
        matTooltip="{{ 'status.feeEstimateLabel' | translate : { fee: walletStateService.feeEstimate } }}">
        <div class="network" translate="status.networkLabel"
          [translateParams]="{ network : walletStateService.getNetwork() }"></div>
        <div class="block-height" translate="status.blockHeightLabel"
          [translateParams]="{ height: formatNumber(walletStateService.info.blockHeight) }"></div>
      </div>
  
      <div class="spacer-1"></div>
        -->
    </ng-container>

  </nav>
</header>
