@import '../../../scss/material-theme.scss';

$light-foreground-palette: map-get($angular-default-theme, foreground);
$light-background-palette: map-get($angular-default-theme, background);

$dark-foreground-palette: map-get($angular-dark-theme, foreground);
$dark-background-palette: map-get($angular-dark-theme, background);

@import '../../../scss/breakpoints';

$appLogoSize: 30px;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.5rem;

  background-color: mat-color($angular-primary, default);
  color: mat-color($dark-foreground-palette, text);

  .app-button {
    .app-logo {
      display: inline-block;
      width: $appLogoSize;
      height: $appLogoSize;
      margin-right: 0.4rem;

      background-size: cover;
      &.offline {
        // reddish
        background-image: url("../../../assets/image/302x302/bitcoin-s.png");
      }
      &.online {
        // green
        background-image: url("../../../assets/image/302x302/bitcoin-s-testnet.png");
      }
      &.polling {
        // yellow
        background-image: url("../../../assets/image/302x302/bitcoin-s-signet.png");
      }
    }
  }

  .mat-button.active,
  .mat-icon-button.active {
    background: rgba(0,0,0,.2);
  }

  .wallet-status, .network-status2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.6rem;

    margin-left: 1rem;
    // margin-right: 0.5rem;
    font-size: smaller;

    .wallet-group {
      display: flex;
      flex-direction: column;
  
      .label {
        padding-bottom: 0.3rem;
        white-space: nowrap;
        overflow: hidden;
        font-size: smaller; // even smaller
      }
      .value {

      }
    }
  }

  .indicator-padding {
    margin-right: 1rem;
  }

  .backend-status {
    display: flex;
    flex-direction: row;

    font-size: small;

    .indicator {
      width: 20px; //16px;
      height: 20px; //16px;
      border-radius: 10px; //8px;
      // border: 1px solid black; // TODO : Style
    }
    .offline {
      background-color: red;
    }
    .online {
      background-color: lime;
    }
    .polling {
      background-color: yellow;
    }
  }

  .network-status {
    font-size: small;
    padding-left: 0.8rem;

    > *:not(:last-of-type) {
      margin-bottom: 0.1rem;
    }
  }

  // Responsive Sizing and Visibility

  @include lt-lg {
    // .wallet-status {
    //   display: none;
    // }
  }
  @include lt-md {
    .network-status {
      display: none;
    }
    .network-status2 {
      display: none;
    }
    .wallet-status {
      display: none;
    }
  }
  @include lt-sm {
    .wallet-icon {
      display: none;
    }
    .upload-icon {
      display: none;
    }
    .more-icon {
      display: none;
    }
  }

}
