<section class="contacts">
  <div class="section-header">
    <h2 translate>contacts.heading</h2>
  </div>

  <form class="form-container" [formGroup]="form" autocomplete="off">
    <fieldset>
      <mat-form-field>
        <input matInput formControlName="alias"
          placeholder="{{ 'contacts.alias' | translate }}" type="text" maxlength="1024" autocomplete="off" spellcheck="false"
          (paste)="aliasValue = trimOnPaste($event)">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="address"
          placeholder="{{ 'contacts.address' | translate }}" type="text" maxlength="1024" autocomplete="off" spellcheck="false"
          (paste)="addressValue = trimAndStripHTTPOnPaste($event)">
        <mat-hint translate>network.torDLCHostAddress</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="memo" cdkTextareaAutosize cdkAutosizeMinRows="2"
          placeholder="{{ 'contacts.memo' | translate }}" type="text" maxlength="1024" autocomplete="off" spellcheck="false"
          (paste)="onMemoPaste($event)">
        </textarea>
      </mat-form-field>
      <button mat-stroked-button (click)="addContact()" [disabled]="form.invalid">{{ 'contacts.addContact' | translate }}</button>
    </fieldset>
  </form>

  <div class="vspacer-1"></div>

  <table class="contact-table mat-elevation-z8"
    mat-table #table [dataSource]="dataSource"
    matSort matSortActive="receivedAt" matSortDirection="desc">

    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contacts.alias' | translate }}</th>
      <td mat-cell *matCellDef="let contact">{{ contact.alias }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contacts.address' | translate }}</th>
      <td mat-cell *matCellDef="let contact">
        <span>{{ contact.address }}</span>
        <button mat-icon-button class="mat-icon-button-sm"
          matTooltip="{{ 'action.copyToClipboard' | translate }}"
          (click)="copyToClipboard(contact.address); $event.stopPropagation()">
          <mat-icon class="mat-icon-sm material-icons-outlined">content_copy</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="memo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contacts.memo' | translate }}</th>
      <td mat-cell *matCellDef="let contact">{{ contact.memo }}</td>
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let contact">
        <button mat-icon-button (click)="onDelete(contact); $event.stopPropagation()"
          matTooltip="{{ 'action.delete' | translate }}"
        >
          <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row class="header-row-columns" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <!-- (click)="onRowClick(contact)" [class.focus-row]="selectedContact === contact" -->
    <tr mat-row *matRowDef="let contact; columns: displayedColumns"></tr>
    <tr class="mat-row mat-no-data-row" *matNoDataRow>
      <td class="mat-cell" colspan="9999">
        {{ 'contacts.noContacts' | translate }}
      </td>
    </tr>
  </table>
</section>
