<h2 mat-dialog-title>{{ data.title | translate }}</h2>

<mat-dialog-content>
  <div class="content-container">
    <qr-code [value]="data.params.address"
      size="150" [margin]="0" errorCorrectionLevel="M"></qr-code>
    <span class="address" [translate]="data.content" [translateParams]="data.params"></span>
    <button mat-icon-button (click)="copyToClipboard()"
      matTooltip="{{ 'action.copyToClipboard' | translate }}"><mat-icon>content_copy</mat-icon></button>
  </div>
  <!-- Showing the address-label label field causes a vertical scrollbar, which I don't like
       but I don't know if we want to suppress it for all viewing cases, so leaving as-is -->
  <div class="lower-content-container">
    <app-address-label [address]="data.params.address"></app-address-label>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <!-- <button mat-stroked-button mat-dialog-close>{{ 'action.cancel' | translate }}</button> -->
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-stroked-button [mat-dialog-close]="true" [color]="data.actionColor">{{ data.action | translate }}</button>
</mat-dialog-actions>
