.about-section {

  .about-content {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 1rem;

    .brand-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 0.4rem;
      margin-bottom: 0.5rem;

      .app-logo {
        width: 60px;
        height: 60px;
      }
    }
    
    .version-container {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      row-gap: 0.35rem;
  
      // font-size: smaller;
      // color: #8c959f; // TODO : From palette
      
      .label {
        // margin-right: 0.25rem;
        display: inline-block;
        width: 8rem;
      }
      .server-version {
        margin-right: 1rem;
      }
      .version {
        margin-right: 0.5rem;
      }
      .date {
        margin-right: 1rem;
      }
    }

    .links-container {
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}