.about-section {

  .about-content {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 1rem;

    .network, .block-height, .fee-estimate {
      margin-bottom: 0.5rem;
    }
    .tor-dlc-host-address {
      margin-top: 1rem;
      margin-bottom: 1rem;
      label {
        margin-right: 0.5rem;
      }
    }

    .brand-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 0.4rem;

      .app-logo {
        width: 50px;
        height: 50px;
      }
    }
    
    .footer {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      row-gap: 0.35rem;
  
      font-size: smaller;
      color: #8c959f; // TODO : From palette
      
      .label {
        // margin-right: 0.25rem;
        display: inline-block;
        width: 7rem;
      }
      .server-version {
        margin-right: 1rem;
      }
      .version {
        margin-right: 0.25rem;
      }
      .date {
        margin-right: 1rem;
      }
    }
  }
}