
$appLogoSize: 200px;

.login-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .app-logo {
    display: inline-block;
    width: $appLogoSize;
    height: $appLogoSize;
    margin-right: 0.4rem;

    background-size: cover;
    background-image: url("../../assets/image/300x300/krystal_bull.png");
  }

  .login-form {
    
  }

  .button-group {
    display: flex;
    flex-direction: row;

    button:not(:last-of-type) {
      margin-right: 1rem;
    }

    .spinner {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }

  .debug-button-group {
    margin-top: 2rem;

    button:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}
