@import "./scss/material-theme";

/** General HTML */

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/** Utility Classes */

/** Relative Width */
@for $i from 1 through 10 {
  $size: $i * 10;
  .w-#{$size} {
    width: percentage($size * .01);
  }
}

/** Spacing */
@for $i from 1 through 6 {
  .spacer-#{$i} {
    margin-right: #{$i}rem;
  }
}
.spacer-auto {
  margin-right: auto;
}
@for $i from 1 through 6 {
  .vspacer-#{$i} {
    height: #{$i}rem;
  }
}

/** Bootstrap equivalents */

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

.mb-0 {
  margin-bottom: 0rem;
}

[hidden] {
  display: none !important;
}

/** Text Align */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}

.ws-preline {
  white-space: pre-line;
}
.ws-prewrap {
  white-space: pre-wrap;
}

.fs-medium {
  font-size: medium;
}

.lineheight-13 {
  line-height: 1.3;
}
.lineheight-14 {
  line-height: 1.4;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

/** Controls */

input.password {
  -webkit-text-security: disc;
}

/** App sections */

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;

  .section-header-button-group {
    display: flex;
    flex-direction: row;
    row-gap: 0.25rem;

    .spinner {
      width: 40px; // to match icon button
      align-self: center;
    }
  }
}
.close-button {
  align-self: center;
}

/** Layout */

.horizontal-pane {
  display: flex;
  flex-direction: row;

  .pane {
    // background: $mat-light-theme-background;
  }
  .left-pane {
    margin-right: 1rem;
  }
  .right-pane {
    margin-left: 1rem;
  }
}

/** Material Design */

// Suppress side drawer horizontal scroll
mat-sidenav {
  .mat-drawer-inner-container {
    overflow-x: hidden;
  }
}

/** Buttons */

.mat-flat-button.mat-flat-button-sm,
.mat-stroked-button.mat-stroked-button-sm {
  padding: 0 8px;
  line-height: 24px;
  font-size: 12px;
  min-width: 40px;
}

.mat-icon-button.mat-icon-button-sm {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.mat-icon-button {
  .mat-icon.mat-icon-sm {
    line-height: 16px;
    vertical-align: sub;
  }
}
.mat-icon.mat-icon-sm {
// .mat-mini-fab.mat-icon-sm
  height: 16px;
  width: 16px;
  font-size: 16px;
  // line-height: 16px;
  // vertical-align: sub;
}

.mat-mini-fab.mat-fab-sm {
  // line-height: 24px;
  // height: 24px;
  // width: 24px;
  transform: scale(0.7);
}

.mat-button-toggle.mat-button-toggle-sm {
  .mat-button-toggle-button {
    .mat-button-toggle-label-content {
      line-height: 30px;
    }
  }
}

/** Material Design Forms */

// Center checkbox in pseudo-mat-form-field
.mat-form-field--checkbox {
  display: flex;
  flex-direction: row;

  mat-checkbox {
    margin: auto;
  }
}

mat-form-field {
  &.ellipsis {
    .mat-input-element {
      text-overflow: ellipsis;
    }
  }
  &.medium {
    .mat-form-field-infix {
      width: 140px;
    }
  }
  &.narrow {
    .mat-form-field-infix {
      width: 100px;
    }
  }
  &.narrower {
    .mat-form-field-infix {
      width: 60px;
    }
  }
}

.mat-form-field-no-padding {
  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }
  .mat-form-field-wrapper {
    margin-bottom: -1.25em;
  }
}
// Works well for <textarea>
.mat-form-field-no-border-top {
  .mat-form-field-infix {
    border-top: 0;
  }
}

.mat-stroked-button, .mat-flat-button {
  span + mat-icon {
    margin-left: 0.6rem;
  }
  mat-icon + span {
    margin-left: 0.6rem;
  }
}

.mat-form-field-suffix {
  .mat-flat-button-sm {
    vertical-align: super;
  }
  .mat-button-toggle-sm {
    vertical-align: super;
  }

  button ~ button {
    margin-left: 0.25rem;
  }
}

.mat-stroked-button {
  &.mat-stroked-icon-button-sm {
    min-width: unset;
    vertical-align: super;
    padding: 0 3px;
    line-height: 30px;
  }
  &.mat-stroked-icon-button-md {
    min-width: unset;
    vertical-align: super;
    padding: 0 6px;
    line-height: 30px;
  }
}

.mat-form-field-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  // width: 100%;
  // mat-form-field {
  //   flex: 1;
  // }

  mat-form-field:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.mat-form-label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/** Execute button container */

.execute-container {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  
  .button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button:not(:last-of-type) {
      margin-right: 1rem;
    }
    .spinner {
      margin-left: 1rem;
    }
  }
}

/** Call Results Area */

.result-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  // Cancel default fieldset styling
  margin: 2rem 0 0 0;
  padding: 0 0 0.5rem 0;

  label {
    margin-right: 1rem;
  }
  .result-textarea {
    flex: 1;
    margin-right: 0.5rem;
    // max-width: 20rem;
  }
}

/** Right drawer */
.drawer-container {
  padding: 0 1rem;
  min-width: 300px;
  height: 100%;

  .section-header {
    margin: 0;
  }
}

/** Header darkMode fix */
// Hack to fix mat-menu icon and text color
.cdk-overlay-container.darkMode {
  .mat-menu-item {
    color: #fff; // mat-color($dark-background-palette, text);
    .mat-icon.mat-icon-no-color {
      color: #fff;
    }
  }
}

/** Header Menu */
@import './scss/breakpoints';
.cdk-overlay-container {
  @include sm {
    .mat-menu-item.about-menu-button {
      display: none;
    }
    .mat-menu-item.contacts-menu-button {
      display: none;
    }
  }
  @include md {
    .mat-menu-item.network-menu-button {
      display: none;
    }
  }
}

/** Global PNL Styling */
.arrow-icon {
  vertical-align: middle;
}
.profit {
  color: forestgreen;
}
.loss {
  color: crimson;
}
.even {
  // no styling yet
}