.advanced-section {

  .operations {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 0.5rem;
    }

    .spinner {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
}