.advanced-section {

  .operations {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-bottom: 0.5rem;

      label {
        margin-right: 0.5rem;
      }
      button {
        flex: 1;
        margin-bottom: 0;
      }
    }

    button {
      margin-bottom: 0.5rem;
    }

    .spinner {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
}