<section class="advanced-section">
  <div class="section-header">
    <h2 translate>advanced.heading</h2>
    <button mat-icon-button class="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button>
  </div>

  <div class="operations">
    <button mat-stroked-button (click)="downloadBackup()" [disabled]="executing">
      {{ 'advanced.backup' | translate }}
      <div class="spinner" *ngIf="backupExecuting">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
    </button>

    <button mat-stroked-button (click)="downloadBitcoinsLog()" [disabled]="executing">
      {{ 'advanced.downloadBitcoinsLog' | translate }}
    </button>

    <button mat-stroked-button (click)="downloadProxyLog()" [disabled]="executing">
      {{ 'advanced.downloadProxyLog' | translate }}
    </button>

    <div class="vspacer-2"></div>
    
    <app-alert *ngIf="fullRescan" [type]="AlertType.warn" message="advanced.fullRescanWarning" icon="warning_amber"></app-alert>

    <div class="row">
      <label>
        <input type="checkbox" [(ngModel)]="fullRescan">
        {{ 'advanced.fullBlockchainRescan' | translate }}
      </label>
      <button mat-stroked-button (click)="rescan()" [disabled]="executing">{{ 'advanced.rescan' | translate }}</button>
    </div>

    <button mat-stroked-button (click)="unreserveAllUTXOs()" [disabled]="executing">
      {{ 'advanced.unreserveAllUTXOs' | translate }}
    </button>

    <div class="vspacer-2"></div>

    <div class="row">
      <mat-form-field class="paste-input">
        <input #txId matInput type="text" autocomplete="off" spellcheck="false"
          placeholder="{{ 'advanced.transactionHex' | translate }}">
      </mat-form-field>
      <button mat-stroked-button (click)="getTransaction(txId.value)" [disabled]="executing">
        {{ 'advanced.getTransaction' | translate }}
      </button>
    </div>
    <div *ngIf="rawTransaction || decodedTransaction" class="column">
      <label translate>advanced.raw</label>
      <textarea class="raw-tx-textarea" rows="2" [(ngModel)]="rawTransaction"></textarea>
      <label translate>advanced.decoded</label>
      <textarea class="decoded-tx-textarea" [(ngModel)]="decodedTransaction"></textarea>
    </div>
    
  </div>

</section>
