<section class="build-accept-offer">
  <!-- <div class="section-header">
    <h2 translate>buildAcceptOffer.heading</h2>
  </div> -->

  <div class="paste-input">
    <label translate>buildAcceptOffer.buildOffer</label>
    <input #buildOfferInput type="text" placeholder="{{ 'buildAcceptOffer.pasteHex' | translate }}"
      (paste)="onBuildOfferPaste($event)" (input)="onBuildOfferInput($event)">
  </div>

  <div hidden>
    <label>Enum</label>
    <button mat-stroked-button (click)="onBuildOffer(enumAnnouncementHex)">A</button>
    <button mat-stroked-button (click)="onBuildOffer(enumContractInfoHex)">CI</button>
    <label>Numeric</label>
    <button mat-stroked-button (click)="onBuildOffer(numericAnnouncementHex)">A</button>
    <button mat-stroked-button (click)="onBuildOffer(numericContractInfoHex)">CI</button>
  </div>

  <div class="paste-input">
    <label translate>buildAcceptOffer.acceptOffer</label>
    <input #acceptOfferInput type="text" placeholder="{{ 'buildAcceptOffer.pasteHex' | translate }}"
      (paste)="onAcceptOfferPaste($event)" (input)="onAcceptOfferInput($event)">
  </div>

  <!-- <div hidden>
    <button mat-stroked-button (click)="onNewEnum()">New Enum Contract</button>
    <button mat-stroked-button (click)="onNewNumeric()">New Numeric Contract</button>
  </div> -->

</section>
