
.build-accept-offer {
  height: 100%;

  .mat-drawer-container {
    height: 100%;
    flex: 1;
    .mat-drawer-content {
      height: 100%;
    }
  }

  .offers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 1rem;

    .build-offer, .accept-offer {
      .content {
        padding: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
      .description {
        line-height: 1.5;
      }
    }
  }
  
  .button-group {
    label {
      margin-right: 0.5rem;
    }
    label:not(:first-child) {
      margin-left: 1rem;
    }
  }

}
