<section class="build-accept-offer">
  <!-- <div class="section-header">
    <h2 translate>buildAcceptOffer.heading</h2>
  </div> -->

  <mat-sidenav-container>
    <mat-sidenav-content class="offer-container">

      <div class="offers">
        <div class="build-offer">
          <h2 translate>buildAcceptOffer.buildOffer</h2>
          <div class="content">
            <div class="description">
              {{ 'buildAcceptOfferDescription.buildOffer' | translate }}
            </div>
            <mat-form-field class="w-100">
              <input matInput type="text"
                placeholder="{{ 'buildAcceptOffer.pasteHexStringHere' | translate }}"
                (paste)="trimOnPaste($event, onBuildOffer.bind(this))"
                autocomplete="off">
            </mat-form-field>

            <div [hidden]="!debug" class="button-group">
              <label>Enum</label>
              <button mat-stroked-button class="mat-stroked-button-sm" (click)="onBuildOffer(enumAnnouncementHex)">A</button>
              <button mat-stroked-button class="mat-stroked-button-sm" (click)="onBuildOffer(enumContractInfoHex)">CI</button>
              <label>Numeric</label>
              <button mat-stroked-button class="mat-stroked-button-sm" (click)="onBuildOffer(numericAnnouncementHex)">A</button>
              <button mat-stroked-button class="mat-stroked-button-sm" (click)="onBuildOffer(numericContractInfoHex)">CI</button>
            </div>
          </div>
        </div>

        <div class="accept-offer">
          <h2 translate>buildAcceptOffer.acceptOffer</h2>
          <div class="content">
            <div class="description">
              {{ 'buildAcceptOfferDescription.acceptOffer' | translate }}
            </div>
            <mat-form-field class="w-100">
              <input matInput type="text"
                placeholder="{{ 'buildAcceptOffer.pasteHexStringHere' | translate }}"
                (paste)="trimOnPaste($event, handleAcceptOffer.bind(this))"
                autocomplete="off">
            </mat-form-field>

            <div [hidden]="!debug">
              <button mat-stroked-button class="mat-stroked-button-sm" (click)="handleAcceptOffer(enumOfferHex)">Enum</button>
              <button mat-stroked-button class="mat-stroked-button-sm" (click)="handleAcceptOffer(numericOfferHex)">Numeric</button>
            </div>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="more-info">
          <h2 translate>buildAcceptOffer.moreInfo</h2>
          <div class="content">
            <div class="description">
              New to DLCs?
              To get started take a look at the oracle announcements and contract templates on the Suredbits Oracle Explorer.
              You can use these as a starting point for building an Offer.
            </div>
            <ul>
              <li><a href="https://oracle.suredbits.com/" target="_blank">Oracle Announcements</a></li>
              <li><a href="https://oracle.suredbits.com/contract/enum" target="_blank">Enum Contract Templates</a></li>
              <li><a href="https://oracle.suredbits.com/contract/numeric" target="_blank">Numeric Contract Templates</a></li>
            </ul>

            <div class="description">
              Check out the <a href="#/about">FAQ on the about page</a>.
            </div>

            <div class="vspacer-1"></div>
  
            <div class="description">
              Watch our DLC explainer and desktop wallet walk-through video
            </div>
            <div class="video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/oR0I0aHxNMM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="vspacer-1"></div>

    </mat-sidenav-content>
    <mat-sidenav #rightDrawer position="end" mode="over" (openedChange)="rightDrawerOpened($event)">
      <div class="drawer-container">
        <ng-container *ngIf="offerVisible">
          <!-- Don't like having two instances, but avoids null handling logic -->
          <app-new-offer #buildOffer *ngIf="selectedAnnouncement" 
            [announcement]="selectedAnnouncement"
            (close)="clearSelection()"></app-new-offer>
          <app-new-offer #buildOffer *ngIf="selectedContractInfo" 
            [contractInfo]="selectedContractInfo"
            (close)="clearSelection()"></app-new-offer>

          <app-accept-offer #acceptOffer *ngIf="selectedOffer" [offer]="selectedOffer"
            (close)="clearSelection()"></app-accept-offer>
        </ng-container>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>

</section>
