<div class="app-root mat-app-background">
  
  <splash></splash>

  <app-header
    (showSignMessage)="onShowSignMessage()"
    (showConfiguration)="onShowConfiguration()"
    (showAdvanced)="onShowAdvanced()"
  ></app-header>

  <mat-sidenav-container>

    <!-- Main Content -->
    <mat-sidenav-content>
      <!-- Shows over the top of any route -->
      <div class="spinner" *ngIf="authService.isLoggedIn && !stateLoaded">
        <mat-spinner></mat-spinner>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

    <!-- Right Drawer -->
    <mat-sidenav #rightDrawer mode="over" position="end" (openedChange)="rightDrawerOpened($event)">
      <div class="drawer-container">
        <app-configuration *ngIf="showConfiguration" (close)="closeRightDrawer()" (rootClassName)="onRootClassName($event)"></app-configuration>
        <app-advanced *ngIf="showAdvanced" (close)="closeRightDrawer()"></app-advanced>
        <app-sign-message *ngIf="showSignMessage" (close)="closeRightDrawer()"></app-sign-message>
      </div>
    </mat-sidenav>
    
  </mat-sidenav-container>

</div>
