$header-height: 56px; // measured

.content-root {
  height: 100%;

  .app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  
    .main-content {
      height: 100%;
    }
  
    .mat-sidenav-container {
      flex: 1;
    }
  
    .wallet-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 2rem;
    }
  
    .tor-dlc-host-address {
      label {
        margin-right: 1rem;
      }
      input {
        display: inline-block;
        width: 28rem;
      }
    }
  
    .spacer {
      height: 1rem;
    }
  
    .state-info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  
      .network {
  
      }
      .block-height {
  
      }
      .fee-estimate {
  
      }
    }
  }

}
