.content-root {
  height: 100%;

  .main-content {
    padding: 1rem;
  }

  .mat-sidenav-container {
    height: 100%;
  }

  .drawer-container {
    padding: 0 1rem;
    min-width: 300px;
  }

  .wallet-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    > * {
      flex-grow: 1;
    }
  }

  .tor-dlc-host-address {
    label {
      margin-right: 1rem;
    }
    input {
      display: inline-block;
      width: 28rem;
    }
  }

  .spacer {
    height: 1rem;
  }

  .state-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .network {

    }
    .block-height {

    }
    .fee-estimate {

    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: smaller;
    color: #8c959f;
    
    margin-bottom: 0.25rem;

    .label {
      margin-right: 0.25rem;
    }
    .server-version {
      margin-right: 1rem;
    }
    .version {
      margin-right: 0.25rem;
    }
    .date {
      margin-right: 1rem;
    }
  }
}
