
.app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0; //  FF flexbox overflow

  .mat-sidenav-container {
    height: 100%;
    
    .mat-drawer {
      
    }
    .mat-drawer-content {
      
    }
  }
}
