<div class="app-root mat-app-background">

  <splash></splash>

  <app-header
    (showConfiguration)="showConfiguration()"
    (showAdvanced)="showAdvanced()"
  ></app-header>

  <mat-sidenav-container>
    <mat-sidenav-content>
      <!-- Shows over the top of any route -->
      <div *ngIf="!stateLoaded" class="spinner">
        <mat-spinner></mat-spinner>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

    <mat-sidenav #rightDrawer position="end" mode="over" (openedChange)="rightDrawerOpened($event)">
      <div class="drawer-container">
        <app-configuration *ngIf="configurationVisible"
          (close)="onConfigurationClose()" (rootClassName)="onRootClassName($event)"></app-configuration>

        <!-- Advanced -->
        <app-debug *ngIf="advancedVisible"
          (close)="onAdvancedClose()"></app-debug>
      </div>
    </mat-sidenav>

  </mat-sidenav-container>

</div>
