<section class="content-root mat-app-background">

  <splash></splash>

  <mat-sidenav-container>
    <mat-sidenav-content>
      <!-- Main -->

      <div class="main-content">
        <app-build-accept-offer
          (announcement)="onAnnouncement($event)" 
          (contractInfo)="onContractInfo($event)"
          (acceptOffer)="onAcceptOffer($event)">
        </app-build-accept-offer>

        <div class="wallet-container">
          <app-wallet-balance></app-wallet-balance>

          <app-dlc-file hidden></app-dlc-file>
        </div>
        
        <app-contracts #contracts (selectedDLC)="onSelectedDLC($event)"></app-contracts>

        <div *ngIf="walletStateService.torDLCHostAddress" class="tor-dlc-host-address">
          <label translate>torDLCHostAddress</label>
          <input [value]="walletStateService.torDLCHostAddress" disabled>
          <button mat-icon-button class="copy-button" matTooltip="{{ 'action.copyToClipboard' | translate }}"
            (click)="onCopyTorDLCHostAddress()"><mat-icon>content_copy</mat-icon></button>
        </div>

        <div *ngIf="walletStateService.info" class="state-info">
          <div class="network" translate="status.networkLabel" [translateParams]="{ network : walletStateService.info.network }"></div>
          <div class="block-height" translate="status.blockHeightLabel" [translateParams]="{ height: walletStateService.info.blockHeight }"></div>
          <div class="fee-estimate" translate="status.feeEstimateLabel" [translateParams]="{ fee: walletStateService.feeEstimate }"></div>
          <div class="config">
            <button mat-stroked-button (click)="showConfiguration()">Config</button>
          </div>
          <div class="debug">
            <button mat-stroked-button (click)="showDebug()">Debug</button>
          </div>
        </div>
  
        <div class="footer">
          <div class="footer-section">
            <span class="label" translate>server</span>
            <span class="server-version">{{ walletStateService.serverVersion }}</span>
          </div>
          <div *ngIf="walletStateService.buildConfig" class="footer-section">
            <span class="label" translate>ui</span>
            <span class="version">{{ walletStateService.buildConfig.shortHash }}</span>
            <span class="date">{{ walletStateService.buildConfig.dateString }}</span>
          </div>
        </div>
      </div>

      <!--
      <div class="horizontal-pane">
        <div class="left-pane">
          <app-build-accept-offer
            (announcement)="onAnnouncement($event)" 
            (contractInfo)="onContractInfo($event)"
            (acceptOffer)="onAcceptOffer($event)">
          </app-build-accept-offer>
  
          <app-wallet-balance></app-wallet-balance>
  
          <app-contracts #contracts (selectedDLC)="onSelectedDLC($event)"></app-contracts>
        </div>
        <div class="right-pane">
          <app-new-offer #buildOffer *ngIf="selectedAnnouncement" 
            [announcement]="selectedAnnouncement"
            (close)="onNewOfferClose()"></app-new-offer>
          <app-new-offer #buildOffer *ngIf="selectedContractInfo" 
            [contractInfo]="selectedContractInfo"
            (close)="onNewOfferClose()"></app-new-offer>

          <app-accept-offer #acceptOffer *ngIf="selectedOffer" [offer]="selectedOffer"
            (close)="onAcceptOfferClose()"></app-accept-offer>

          <app-contract-detail *ngIf="selectedDLC && selectedDLCContractInfo" 
            [dlc]="selectedDLC" [contractInfo]="selectedDLCContractInfo"
            (close)="onContractDetailClose()"
          ></app-contract-detail>
        </div>
      </div>
    -->
    </mat-sidenav-content>

    <mat-sidenav #rightDrawer position="end" mode="over">
      <div class="drawer-container">
        <app-configuration *ngIf="configurationVisible"
          (close)="onConfigurationClose()" (rootClassName)="onRootClassName($event)"></app-configuration>

        <app-debug *ngIf="debugVisible"
          (close)="onDebugClose()"></app-debug>

        <app-contract-detail *ngIf="contractDetailsVisible && selectedDLC && selectedDLCContractInfo" 
          [dlc]="selectedDLC" [contractInfo]="selectedDLCContractInfo"
          (close)="onContractDetailClose()"
        ></app-contract-detail>

        <ng-container *ngIf="offerVisible">
          <!-- Don't like having two instances, but avoids null handling logic -->
          <app-new-offer #buildOffer *ngIf="selectedAnnouncement" 
            [announcement]="selectedAnnouncement"
            (close)="onNewOfferClose()"></app-new-offer>
          <app-new-offer #buildOffer *ngIf="selectedContractInfo" 
            [contractInfo]="selectedContractInfo"
            (close)="onNewOfferClose()"></app-new-offer>

          <app-accept-offer #acceptOffer *ngIf="selectedOffer" [offer]="selectedOffer"
            (close)="onAcceptOfferClose()"></app-accept-offer>
        </ng-container>

      </div>
    </mat-sidenav>

  </mat-sidenav-container>

</section>