<section>
  <div class="section-header">
    <h2>Event Functions</h2>
    <button mat-icon-button (click)="onClose()"><mat-icon>close</mat-icon></button>
  </div>
  
  <div class="input-group">
    <label class="form-label" translate>eventName</label>
    <input name="eventNameInput" class="form-control" type="text" [(ngModel)]="eventNameInput">
  </div>

  <br>

  <div class="input-group">
    <button type="button" (click)="onGetEvent(eventNameInput)" translate>oracleOperations.getevent</button>
    <button type="button" (click)="onGetSignatures()" translate>oracleOperations.getsignatures</button>
  </div>
  <div class="input-group">
    <input name="signEventInput" class="form-control" type="text" [(ngModel)]="signEventInput" placeholder="{{ 'outcome' | translate }}">
    <button type="button" (click)="onSignEvent()" translate>oracleOperations.signevent</button>
  </div>
  <div class="input-group">
    <input name="signDigitsInput" class="form-control" type="number" [(ngModel)]="signDigitsInput" placeholder="{{ 'outcome' | translate }}">
    <button type="button" (click)="onSignDigits()" translate>oracleOperations.signdigits</button>
  </div>
</section>