<section class="network-section">
  <div class="section-header">
    <h2 translate>network.heading</h2>
  </div>

  <div class="horizontal-pane">
    <div *ngIf="walletStateService.info" class="bitcoin-container">
      <label translate>status.bitcoin</label>
      <div class="network"
        translate="status.networkLabel" 
        [translateParams]="{ network: walletStateService.getNetwork() }"></div>
      <div class="block-height"
        translate="status.blockHeightLabel" 
        [translateParams]="{ height: formatNumber(walletStateService.info.blockHeight) }"></div>
      <div class="fee-estimate" 
        translate="status.feeEstimateLabel"
        [translateParams]="{ fee: walletStateService.feeEstimate }"></div>
    </div>
  
    <div class="tor-container">
      <label translate>status.tor</label>
      <div *ngIf="walletStateService.info" class="tor-started">
        <label translate>
          <input type="checkbox" [checked]="walletStateService.info.torStarted" disabled>
          network.torStarted
        </label>
        
      </div>
      <div *ngIf="walletStateService.torDLCHostAddress" class="tor-dlc-host-address">
        <label translate>network.torDLCHostAddress</label>
        <input [value]="walletStateService.torDLCHostAddress" disabled>
        <button mat-icon-button class="copy-button mat-icon-button-sm" matTooltip="{{ 'action.copyToClipboard' | translate }}"
          (click)="copyToClipboard(walletStateService.torDLCHostAddress)">
          <mat-icon class="mat-icon-sm">content_copy</mat-icon>
        </button>
      </div>
    </div>
  </div>
 
  <div class="horizontal-pane">
    <div class="server-container">
      <label translate>status.serverState</label>
      <div *ngIf="walletStateService.info" class="initial-block-download">
        <label translate>
          <input type="checkbox" [checked]="walletStateService.info.isinitialblockdownload" disabled>
          network.initialBlockDownload
        </label>
      </div>
      <div *ngIf="walletStateService.info" class="syncing">
        <label translate>
          <input type="checkbox" [checked]="walletStateService.info.syncing" disabled>
          network.syncing
        </label>
      </div>
    </div>
  
    <div class="data-connection">
      <label translate>status.dataConnection</label>
      <div class="server"
        translate="status.serverLabel" 
        [translateParams]="{ state: walletStateService.state }"
      ></div>
      <div class="websocket"
        translate="status.websocketLabel" 
        [translateParams]="{ state: websocketService.state }"
      ></div>
    </div>
  </div>

</section>
