.network-section {

  .bitcoin-container, .tor-container, .server-container, .data-connection {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem 1.5rem 1.5rem;
    &:first-child {
      margin-left: 1rem;
    }

    > label {
      margin-bottom: 0.75rem;
      font-size: larger;
    }

    label {
      margin-right: 0.5rem;
    }

    .network, .block-height, .fee-estimate {
      margin-bottom: 0.5rem;
    }

    .initial-block-download, .syncing,
    .tor-started, .tor-dlc-host-address {
      margin-bottom: 0.5rem;
    }

    .server, .websocket {
      margin-bottom: 0.5rem;
    }
  }
  
}
