.import-export-section {

  height: calc(100% - 75px); // subtract out header and fudge
  padding-bottom: 0.25rem;

  .operations {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
