.splash-screen-overlay,
.splash-screen-overlay-inner-pattern,
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: left 0.5s;
}

.splash-screen-overlay {
  z-index: 102;
  pointer-events: none;
  background-image: linear-gradient(0deg, #5f1f04, #2a1828, #1b1c3b);
  mix-blend-mode: multiply;
}

.splash-screen-overlay-inner-pattern {
  z-index: 101;
  pointer-events: none;
  background-image: url("../../../assets/image/splash-screen-background-pattern.png");
  background-position: center;
  mix-blend-mode: luminosity;
}

.splash-screen {
  z-index: 103;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .app-splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    .app-logo {
      background: url("../../../assets/image/suredbits.svg");
      background-repeat: no-repeat;
      max-width: 100%;
      background-position: center;
      background-size: contain;
      width: 300px;
      height: 100px;
    }

    .app-label {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      color: #fff;
      font-size: 2.5em;
      // font-family: "Pacifico", cursive;
    }
  }

  p {
    color: #fff;
    font-size: 1.5em;
  }
  .italic {
    font-style: italic;
  }

  .button-group {
    width: 420px;
    display: flex;
    flex-direction: column;
  }

  .footer-section {
    margin-top: auto;
    margin-bottom: 4rem;
  }
}
