.new-offer {

  .both, .enum-offer, .numeric-offer {
    .field-group {
      label {
        display: inline-block;
        width: 12rem;
      }
      input {
        display: inline-block;
        width: 10rem;
      }
    }

    .event-id-input {
      width: 20rem !important;
    }

    .outcome-group {
      margin: 1rem;

      .outcome-label {
        margin-right: 1rem;
      }

      .field-group {
        &:first-of-type {
          margin-bottom: 0.5rem;
        }
        
        label {
          width: 10rem;
        }

        label.outcome-label {
          width: 10rem;
        }
        label.payout-label {
          width: 10rem;
        }
      }
      .enum-payout-group {
        display: flex;
        flex-direction: row;

        align-items: center;
        min-height: 40px; // Matching numeric-payout-group for now
      }
      .numeric-payout-group {
        display: flex;
        flex-direction: row;

        align-items: center;
        min-height: 40px; // Matches remove buttons on inner rows

        &:first-of-type {
          margin-bottom: 0.5rem;
        }

        label {
          display: inline-block;
        }
        .outcome-label {
          width: 6rem;
        }
        .payout-label {
          width: 6rem;
        }
        .endpoint-label {
          width: 3rem;
        }
        input[type="number"] {
          width: 6rem;
          margin-right: 0.25rem;
        }
        input[type="checkbox"] {
          width: 3rem;
          vertical-align: middle;
        }
      }
    }
    .rounding-info {
      margin-bottom: 1rem;

      .rounding-interval-group {
        display: flex;
        flex-direction: row;
  
        align-items: center;
  
  
      }
      .points-group {
        width: 18rem;
  
        > label {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .spacer {
    height: 1.5rem;
  }

  .numeric-offer {
    display: flex;
    flex-direction: column;

    width: 36rem;

    align-items: center;
  }

  .footer {
    // display: flex;
    // flex-direction: row;
    // width: 36rem;
    .button-group {
      text-align: right;
    }
    .result-group {
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        margin-right: 1rem;
      }
      .result-textarea {
        // width: 80%;
        flex: 1;
      }
    }
  }
  
}
