<h2 mat-dialog-title>{{ 'dialog.sendFunds.title' | translate }}</h2>

<mat-dialog-content>
  <!-- QR Code Video -->
  <zxing-scanner *ngIf="qrScanEnabled"
    (camerasFound)="camerasFoundHandler($event)"
    (camerasNotFound)="camerasNotFoundHandler($event)"
    (scanError)="scanErrorHandler($event)"
    (scanComplete)="scanCompleteHandler($event)"
  ></zxing-scanner>
  <form class="form-container" [formGroup]="form" autocomplete="off">
    <fieldset>
      <mat-form-field>
        <mat-label translate>dialog.sendFunds.address</mat-label>
        <input formControlName="address" matInput type="text" spellcheck="false"
          (paste)="this.addressValue = trimOnPaste($event)">
        <span matSuffix class="validation">
          <mat-icon *ngIf="address?.valid" class="material-icons-outlined"
            matTooltip="{{ 'dialog.sendFunds.addressValid' | translate }}">check_circle</mat-icon>
          <mat-icon *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="material-icons-outlined"
            matTooltip="{{ 'dialog.sendFunds.addressInvalid' | translate }}">cancel</mat-icon>
        </span>
        <button *ngIf="!qrScanNoCamera" class="mat-stroked-icon-button-sm" mat-stroked-button matSuffix
          matTooltip="{{ 'dialog.sendFunds.scanQRCode' | translate }}"
          (click)="scanQRCode()">
          <mat-icon>qr_code_scanner</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label [translate]="sendMax ? 'unit.allFunds' : 'dialog.sendFunds.amount'"></mat-label>
        <input formControlName="amount" matInput type="number">
        <span matSuffix translate>unit.sats</span>
        <mat-button-toggle class="mat-button-toggle-sm" matSuffix color="primary"
          [checked]="sendMax" (change)="onMax()">
          {{ 'unit.max' | translate }}
        </mat-button-toggle>
      </mat-form-field>
      <mat-form-field>
        <mat-label translate>dialog.sendFunds.feeRate</mat-label>
        <input formControlName="feeRate" matInput type="number" min="1">
        <span matSuffix translate>unit.satsPerVbyte</span>
      </mat-form-field>
    </fieldset>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>{{ 'action.cancel' | translate }}</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-stroked-button [mat-dialog-close]="true" [color]="actionColor"
    [mat-dialog-close]="getFormState()"
    [disabled]="form.invalid">{{ action | translate }}</button>
</mat-dialog-actions>
