
.field-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    display: inline-block;
    width: 12rem;
  }
  input {
    width: 20rem;
    margin-right: 0.5rem;
  }
}

.form-container {
  min-width: 450px; // to see a full address
  fieldset {
    display: flex;
    flex-direction: column;
    
    .validation {
      vertical-align: sub;
    }
    span, mat-button-toggle {
      margin-left: 0.5rem;
    }
  }
}