.contracts {
  margin-bottom: 2rem;

  .contract-container {
    .contract-table {
      // Column padding
      .mat-header-cell, .mat-cell, .mat-footer-cell {
        padding-left: 1rem;
        padding-right: 1rem; //2rem;
        &:first-of-type {
          padding-left: 1rem;
        }
        &:last-of-type {
          padding-right: 1rem;
        }
      }

      .numeric-cell {
        text-align: right;
      }
      .percent-cell {
        text-align: center;
      }

      .focus-row {
        font-weight: bold;
      }
      .mat-no-data-row {
        text-align: center;
      }
    }
  }
}
