<section class="contracts">
  <div class="section-header">
    <h2 translate>contracts.heading</h2>
    <!-- <button mat-icon-button class="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button> -->
  </div>

  <div *ngIf="walletStateService.dlcs" class="contract-container">
    <table class="contract-table mat-elevation-z8" mat-table #table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="eventId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.eventId' | translate }}</th>
        <!-- Compiler Not happy with the following type of notation -->
        <!-- let contractInfo = walletStateService.contractInfos.value[contract.dlcId]" -->
        <td mat-cell *matCellDef="let contract">
          {{ getContractInfo(contract.dlcId)?.oracleInfo?.announcement?.event?.eventId }}
          <!-- {{ contractInfo.oracleInfo.announcement.event.eventId }} -->
        </td>
      </ng-container>
      <ng-container matColumnDef="contractId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.contractId' | translate }}</th>
        <td mat-cell *matCellDef="let contract">
          <!-- Not sure yet -->
        </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.state' | translate }}</th>
        <td mat-cell *matCellDef="let contract">{{ contract.state }}</td>
      </ng-container>
      <ng-container matColumnDef="realizedPNL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.realizedPNL' | translate }}</th>
        <td mat-cell *matCellDef="let contract">{{ contract.realizedPNL }}</td>
      </ng-container>
      <ng-container matColumnDef="rateOfReturn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.rateOfReturn' | translate }}</th>
        <td mat-cell *matCellDef="let contract">{{ contract.rateOfReturn }}</td>
      </ng-container>
      <ng-container matColumnDef="collateral">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.collateral' | translate }}</th>
        <td mat-cell *matCellDef="let contract">{{ contract.localCollateral }}</td>
      </ng-container>
      <ng-container matColumnDef="counterpartyCollateral">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.counterpartyCollateral' | translate }}</th>
        <td mat-cell *matCellDef="let contract">{{ contract.remoteCollateral }}</td>
      </ng-container>
      <ng-container matColumnDef="totalCollateral">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.totalCollateral' | translate }}</th>
        <td mat-cell *matCellDef="let contract">{{ contract.totalCollateral }}</td>
      </ng-container>
      <ng-container matColumnDef="lastUpdated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.lastUpdated' | translate }}</th>
        <td mat-cell *matCellDef="let contract">{{ contract.lastUpdated }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let contract; columns: displayedColumns"
          (click)="onRowClick(contract)"
          [class.focus-row]="selectedDLC === contract"></tr>
    </table>
  </div>

  <app-contract-detail *ngIf="selectedDLC" 
    [dlc]="selectedDLC" [contractInfo]="selectedContractInfo"
    (close)="onCloseContractDetail()"></app-contract-detail>

</section>