<section class="contracts">
  <mat-sidenav-container>
    <mat-sidenav-content>
      <div class="section-header">
        <h2 translate>contracts.heading</h2>
        <!-- <button mat-icon-button class="refresh-button" matTooltip="{{ 'action.reload' | translate }}" (click)="onRefresh()"><mat-icon>refresh</mat-icon></button> -->
      </div>

      <div class="horizontal-pane">
        <div *ngIf="walletStateService.dlcWalletAccounting" class="pane pnl">
          <label translate>walletBalance.dlcReturns</label>
          <div class="pnl-group">
            <label translate>walletBalance.profitAndLoss</label>
            <span class="value">{{ formatNumber(walletStateService.dlcWalletAccounting.pnl) }}</span>
            <span class="unit" translate>unit.sats</span>
          </div>
          <div class="pnl-group">
            <label translate>walletBalance.rateOfReturn</label>
            <span class="value">{{ formatPercent(walletStateService.dlcWalletAccounting.rateOfReturn, 2, false) }}</span>
            <span class="unit" translate>unit.percent</span>
          </div>
        </div>
        <div class="peer-filter">
          <mat-form-field>
            <mat-label translate>contracts.peerFilter</mat-label>
            <select matNativeControl [(ngModel)]="selectedContact" (ngModelChange)="onContactFilter($event)">
              <option [ngValue]="null"></option>
              <option *ngFor="let o of contactService.contacts.value" [ngValue]="o.address">{{o.alias}}</option>
            </select>
            <button mat-icon-button matSuffix type="button" (click)="onContactFilter()"
              [disabled]="selectedContact === null"><mat-icon>close</mat-icon></button>
          </mat-form-field>
        </div>
      </div>

      <table class="contract-table mat-elevation-z8"
        mat-table #table [dataSource]="dataSource"
        matSort matSortActive="lastUpdated" matSortDirection="desc">

        <!-- Grouping row -->
        <ng-container matColumnDef="header-row-spacer-group">
          <th mat-header-cell *matHeaderCellDef 
              [attr.colspan]="4">
          </th>
        </ng-container>
        <ng-container matColumnDef="header-row-return-group">
          <th mat-header-cell *matHeaderCellDef 
              [attr.colspan]="2"> 
              {{ 'contracts.return' | translate }}
          </th>
        </ng-container>
        <ng-container matColumnDef="header-row-collateral-group">
          <th mat-header-cell *matHeaderCellDef 
              [attr.colspan]="3"> 
            {{ 'contracts.collateral' | translate }}
          </th>
        </ng-container>
        <!-- ; sticky: true on this one has lastUpdate artifacting into the header on scroll, leaving it off for now -->
        <tr mat-header-row class="header-row-group" 
          *matHeaderRowDef="['header-row-spacer-group','header-row-return-group','header-row-collateral-group']"></tr>
        

        <ng-container matColumnDef="eventId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.eventId' | translate }}</th>
          <!-- Compiler Not happy with the following type of notation -->
          <td mat-cell *matCellDef="let contract">
            {{ getContractInfo(contract.dlcId) && getContractInfo(contract.dlcId).oracleInfo.announcement.event.eventId || '' }}
          </td>
        </ng-container>
        <!-- Area for status flags or operation buttons -->
        <ng-container matColumnDef="flags">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let contract">
            <ng-container *ngIf="contract.payoutAddress.isExternal">
              <button mat-icon-button class="mat-icon-button-sm"
                matTooltip="{{ 'contracts.externalPayoutAddress' | translate:{address: contract.payoutAddress.address} }}"
                (click)="copyToClipboard(contract.payoutAddress.address); $event.stopPropagation()">
                <mat-icon class="mat-icon-sm material-icons-outlined">trending_up</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="peer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.peer' | translate }}</th>
          <td mat-cell *matCellDef="let contract">
            <ng-container *ngIf="contract.peer">
              <ng-container *ngIf="contactService.getContact(contract.peer); else contactAddress">
                <span class="peer">{{ contactService.getContactAlias(contract.peer) }}</span>
              </ng-container>
              <ng-template #contactAddress>
                <span class="peer">{{ formatShortHex(contract.peer) }}</span>
                <button mat-icon-button class="mat-icon-button-sm"
                  matTooltip="{{ 'action.copyToClipboard' | translate }}"
                  (click)="copyToClipboard(contract.peer); $event.stopPropagation()">
                  <mat-icon class="mat-icon-sm material-icons-outlined">content_copy</mat-icon>
                </button>
              </ng-template>
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.state' | translate }}</th>
          <td mat-cell *matCellDef="let contract">{{ contract.state }}</td>
        </ng-container>
        <ng-container matColumnDef="realizedPNL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.realizedPNL' | translate }}</th>
          <td mat-cell *matCellDef="let contract">
            <div class="pnl-container">
              <mat-icon *ngIf="contract.pnl > 0" matPrefix class="arrow-icon profit">arrow_drop_up</mat-icon>
              <mat-icon *ngIf="contract.pnl < 0" matPrefix class="arrow-icon loss">arrow_drop_down</mat-icon>
              <mat-icon *ngIf="contract.pnl === 0" matPrefix class="arrow-icon even">trending_flat</mat-icon>
              <span [class.profit]="contract.pnl > 0" [class.loss]="contract.pnl < 0">{{ formatNumber(contract.pnl) }}</span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="rateOfReturn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.rateOfReturn' | translate }}</th>
          <td mat-cell class="percent-cell" *matCellDef="let contract">{{ contract.rateOfReturn ? formatPercent(contract.rateOfReturn, 0) : '' }}</td>
        </ng-container>
        <ng-container matColumnDef="totalCollateral">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.totalCollateral' | translate }}</th>
          <td mat-cell class="numeric-cell" *matCellDef="let contract">{{ formatNumber(contract.totalCollateral) }}</td>
        </ng-container>
        <ng-container matColumnDef="collateral">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.yours' | translate }}</th>
          <td mat-cell class="numeric-cell" *matCellDef="let contract">{{ formatNumber(contract.localCollateral) }}</td>
        </ng-container>
        <ng-container matColumnDef="counterpartyCollateral">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.theirs' | translate }}</th>
          <td mat-cell class="numeric-cell" *matCellDef="let contract">{{ formatNumber(contract.remoteCollateral) }}</td>
        </ng-container>
        <ng-container matColumnDef="contractId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.contractId' | translate }}</th>
          <td mat-cell *matCellDef="let contract">
            <span>{{ formatShortHex( getContractId(contract.dlcId) ) }}</span>
            <button *ngIf="getContractId(contract.dlcId)" mat-icon-button class="mat-icon-button-sm"
              matTooltip="{{ 'contracts.copyContractId' | translate }}"  matTooltipPosition="right"
              (click)="copyToClipboard(getContractId(contract.dlcId)); $event.stopPropagation()">
              <mat-icon class="mat-icon-sm material-icons-outlined">content_copy</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="lastUpdated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'contracts.lastUpdated' | translate }}</th>
          <td mat-cell *matCellDef="let contract">{{ formatISODate(contract.lastUpdated) }}</td>
        </ng-container>

        <tr mat-header-row class="header-row-columns" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let contract; columns: displayedColumns"
            (click)="onRowClick(contract)"
            [class.focus-row]="selectedDLCContract === contract"></tr>
        <tr class="mat-row mat-no-data-row" *matNoDataRow>
          <td class="mat-cell" colspan="9999">
            <ng-container *ngIf="dataSource.data.length === 0; else filterTemplate">
              {{ 'contracts.noContracts' | translate }}
            </ng-container>
            <ng-template #filterTemplate>
              {{ 'contracts.noFilterMatches' | translate }}
            </ng-template>
          </td>
        </tr>
      </table>

    </mat-sidenav-content>

    <mat-sidenav #rightDrawer position="end" mode="over" (openedChange)="rightDrawerOpened($event)">
      <div class="drawer-container">
        <app-contract-detail *ngIf="contractDetailsVisible && selectedDLCContract && selectedDLCContractInfo" 
          [dlc]="selectedDLCContract" [contractInfo]="selectedDLCContractInfo"
          [accept]="selectedAccept" [sign]="selectedSign"
          (close)="rightDrawer.close()"
        ></app-contract-detail>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</section>
