<section class="wallet-balance">
  <div class="section-header">
    <h2 translate>walletBalance.heading</h2>
    <!-- <button mat-icon-button class="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button> -->
  </div>

  <div class="wallet-state horizontal-pane">
    <div *ngIf="walletStateService.balances" class="pane balances">
      <label translate>walletBalance.balance</label>
      <div class="balance-group">
        <label translate>walletBalance.confirmedBalance</label>
        <span class="value">{{ formatNumber(walletStateService.balances.confirmed) }}</span>
        <span class="unit" translate>unit.sats</span>
      </div>
      <div class="balance-group">
        <label translate>walletBalance.unconfirmedBalance</label>
        <span class="value">{{ formatNumber(walletStateService.balances.unconfirmed) }}</span>
        <span class="unit" translate>unit.sats</span>
      </div>
      <div class="balance-group">
        <label translate>walletBalance.reserveBalance</label>
        <span class="value">{{ formatNumber(walletStateService.balances.reserved) }}</span>
        <span class="unit" translate>unit.sats</span>
      </div>
      <div class="balance-group">
        <label translate>walletBalance.totalBalance</label>
        <span class="value">{{ formatNumber(walletStateService.balances.total) }}</span>
        <span class="unit" translate>unit.sats</span>
      </div>
    </div>
  
    <div *ngIf="walletStateService.dlcWalletAccounting" class="pane pnl">
      <label translate>walletBalance.dlcReturns</label>
      <div class="pnl-group">
        <label translate>walletBalance.profitAndLoss</label>
        <span class="value">{{ formatNumber(walletStateService.dlcWalletAccounting.pnl) }}</span>
        <span class="unit" translate>unit.sats</span>
      </div>
      <div class="pnl-group">
        <label translate>walletBalance.rateOfReturn</label>
        <span class="value">{{ formatPercent(walletStateService.dlcWalletAccounting.rateOfReturn, 2, false) }}</span>
        <span class="unit" translate>unit.percent</span>
      </div>
    </div>
  </div>

  <div class="button-group">
    <button mat-stroked-button (click)="getNewAddress()">
      <mat-icon>add_circle</mat-icon>
      <span translate>walletBalance.getNewAddress</span>
    </button>
    <button mat-stroked-button (click)="sendFunds()">
      <mat-icon>send</mat-icon>
      <span translate>walletBalance.sendFunds</span>
    </button>
  </div>

</section>