.wallet-balance {

  .wallet-state {
    margin-bottom: 1rem;
    
    .balances, .pnl {
      border: 1px solid rgba(0,0,0,.2);
      margin-right: 2rem;
      padding: 1rem;

      > label {
        display: inline-block;
        margin-bottom: 0.75rem;
        font-size: large;
      }
      .balance-group {
        margin-bottom: 0.25rem;
        label {
          display: inline-block;
          width: 6rem;
        }
        .value {
          width: 6rem;
        }
      }
      .total-group {
        margin-top: 0.5rem;
      }
    }
    .pnl-group {
      margin-bottom: 0.25rem;
      label {
        display: inline-block;
        width: 8rem;
      }
      .value {
        // autosizing for now
      }
    }

    .balance-group, .pnl-group {
      .value {
        display: inline-block;
        margin-right: 0.25rem;
        text-align: right;
      }
      .unit {
        // display: inline-block;
        // width: 3rem;
      }
    }
  }
  .button-group {
    button:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}
