<section class="wallet-balance">
  <div class="section-header">
    <h2 translate>walletBalance.heading</h2>
    <!-- <button mat-icon-button class="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button> -->
  </div>

  <div class="wallet-state horizontal-pane">

    <!-- Wallet Selector -->
    <!-- alpha flag currently required - showWalletSelector -->
    <!-- walletName must have been set and there must be more than one wallet -->
    <div *ngIf="walletStateService.showWalletSelector && walletName !== undefined && walletStateService.wallets.value.length > 1" class="pane wallet-name">
      <div class="wallet-select">
        <mat-form-field class="w-100">
          <mat-label translate>walletBalance.activeWallet</mat-label>
          <select matNativeControl [(ngModel)]="walletName" (ngModelChange)="onWalletChange($event)"
            [disabled]="executing">
            <!-- Default wallet is not included in wallets[] -->
            <option [ngValue]="''">{{ 'walletBalance.defaultWallet' | translate }}</option>
            <option *ngFor="let w of walletStateService.wallets.value" [ngValue]="w">{{w}}</option>
          </select>
          <div *ngIf="executing" matSuffix class="spinner">
            <mat-spinner diameter="20"></mat-spinner>
          </div>
        </mat-form-field>
        <!-- Advanced : Passphrase -->
        <mat-expansion-panel *ngIf="advancedVisible">
          <mat-expansion-panel-header>
            <mat-panel-title translate>newOffer.advanced</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <label>
              <mat-checkbox [(ngModel)]="walletUsePassphrase" (change)="walletPassphrase = ''"
                matTooltip="{{ 'importexport.usePassphrase' | translate }}"></mat-checkbox>
            </label>
            <mat-form-field>
              <input [class.password]="hideWalletPassphrase"
                [(ngModel)]="walletPassphrase" matInput type="text"
                autocomplete="off" spellcheck="false"
                placeholder="{{ 'importexport.passphrase' | translate }}" [disabled]="!walletUsePassphrase">
              <mat-icon class="mat-icon-sm" matSuffix
                matTooltip="{{ 'importexport.showHidePassphrase' | translate }}"
                (click)="hideWalletPassphrase = !hideWalletPassphrase">{{hideWalletPassphrase ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint *ngIf="walletUsePassphrase">{{ 'importexport.passphraseDescription' | translate }}</mat-hint>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </div>
    </div>

    <!-- Balances -->
    <div *ngIf="walletStateService.balances" class="pane balances">
      <label translate>walletBalance.balance</label>
      <div class="balance-group">
        <label translate>walletBalance.confirmedBalance</label>
        <span class="value">{{ formatNumber(walletStateService.balances.confirmed) }}</span>
        <span class="unit" translate>unit.sats</span>
      </div>
      <div class="balance-group">
        <label translate>walletBalance.unconfirmedBalance</label>
        <span class="value">{{ formatNumber(walletStateService.balances.unconfirmed) }}</span>
        <span class="unit" translate>unit.sats</span>
      </div>
      <div class="balance-group">
        <label translate>walletBalance.reservedBalance</label>
        <span class="value">{{ formatNumber(walletStateService.balances.reserved) }}</span>
        <span class="unit" translate>unit.sats</span>
      </div>
      <div class="balance-group total-group">
        <label translate>walletBalance.totalBalance</label>
        <span class="value">{{ formatNumber(walletStateService.balances.total) }}</span>
        <span class="unit" translate>unit.sats</span>
      </div>
    </div>
  
    <!--
    <div *ngIf="walletStateService.dlcWalletAccounting" class="pane pnl">
      <label translate>walletBalance.dlcReturns</label>
      <div class="pnl-group">
        <label translate>walletBalance.profitAndLoss</label>
        <span class="value">{{ formatNumber(walletStateService.dlcWalletAccounting.pnl) }}</span>
        <span class="unit" translate>unit.sats</span>
      </div>
      <div class="pnl-group">
        <label translate>walletBalance.rateOfReturn</label>
        <span class="value">{{ formatPercent(walletStateService.dlcWalletAccounting.rateOfReturn, 2, false) }}</span>
        <span class="unit" translate>unit.percent</span>
      </div>
    </div>
    -->
    
    <!-- Actions -->
    <div class="pane buttons">
      <button mat-flat-button color="primary"
        [disabled]="!walletStateService.wallet.value"
        (click)="backendService.getNewAddress()">
        <mat-icon>add</mat-icon>
        <span translate>walletBalance.getNewAddress</span>
      </button>
      <button mat-flat-button color="primary"
        [disabled]="!walletStateService.wallet.value"
        (click)="backendService.sendFunds()">
        <mat-icon class="material-icons-outlined">send</mat-icon>
        <span translate>walletBalance.sendFunds</span>
      </button>
    </div>
  </div>

  <!-- Funded Addresses -->
  <div class="utxos-container horizontal-pane">
    <div *ngIf="addressService.fundedAddresses" class="pane utxos">
      <label translate>walletBalance.fundedAddresses</label>
      <div class="funded-grid">
        <div class="utxo-address-header" translate>walletBalance.address</div>
        <div class="utxo-value-header" translate>walletBalance.value</div>
        <div class="unit"></div>
        <div class="label"></div>
        <ng-container *ngFor="let address of addressService.fundedAddresses">
          <div class="address">{{ address.address }}</div>
          <div class="value">{{ formatNumber(address.value) }}</div>
          <div class="unit" translate>unit.sats</div>
          <app-address-label class="address-label" [address]="address.address"></app-address-label>
        </ng-container>
        <ng-container *ngIf="addressService.fundedAddresses.length === 0">
          <span class="none" translate>walletBalance.noFundedAddresses</span>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Unfunded Addresses -->
  <div class="utxos-container horizontal-pane">
    <div *ngIf="addressService.unfundedAddresses" class="pane utxos">
      <label translate>walletBalance.unfundedAddresses</label>
      <div class="unfunded-grid">
        <div class="utxo-address-header" translate>walletBalance.address</div>
        <div class="qr"></div>
        <div class="label"></div>
        <ng-container *ngFor="let address of addressService.unfundedAddresses">
          <div class="address">{{ address }}</div>
          <button mat-stroked-button class="mat-stroked-icon-button-sm qr"
            matTooltip="{{ 'walletBalance.openQRCode' | translate }}"
            (click)="onQRCodeClick(address)">
            <mat-icon>qr_code_2</mat-icon>
          </button>
          <app-address-label class="address-label" [address]="address"></app-address-label>
        </ng-container>
        <ng-container *ngIf="addressService.unfundedAddresses.length === 0">
          <span class="none" translate>walletBalance.noUnfundedAddresses</span>
        </ng-container>
      </div>
    </div>
  </div>

</section>