<section class="announcement-detail-section">
  <div class="section-header">
    <h2 translate>announcementDetail.heading</h2>
    <button mat-icon-button class="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button>
  </div>
  
  <form class="form-container">
    <mat-form-field>
      <mat-label translate>createAnnouncement.name</mat-label>
      <input matInput name="eventName" type="text" [(ngModel)]="announcement.eventName" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label translate>createAnnouncement.maturationTime</mat-label>
      <input matInput name="maturationTime" [(ngModel)]="announcement.maturationTime" readonly>
    </mat-form-field>

    <mat-form-field *ngIf="announcement.signedOutcome !== null">
      <mat-label translate>outcome</mat-label>
      <input matInput name="signedOutcome" type="text" [(ngModel)]="announcement.signedOutcome" readonly>
      <button mat-icon-button matSuffix (click)="onDeleteAttestation()"
        [disabled]="announcement.signedOutcome !== null && 
          oracleState.oeAnnouncements.value[announcement.eventName] && 
          oracleState.oeAnnouncements.value[announcement.eventName].outcome !== null">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-form-field>

    <ng-container *ngIf="announcement.signedOutcome === null">
      <ng-container *ngIf="isEnum()">
        <mat-form-field>
          <mat-label translate>outcome</mat-label>
          <input matInput name="signEnum" type="text" [(ngModel)]="signEnumInput" 
            placeholder="{{ announcement.outcomes.join() }}">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSignEnum()">
          {{ 'oracleOperations.signenum' | translate }}</button>
      </ng-container>
      <ng-container *ngIf="isNotEnum()">
        <mat-form-field>
          <mat-label translate>outcome</mat-label>
          <input matInput name="signDigits" type="number" [(ngModel)]="signDigitsInput" 
            placeholder="{{ formatOutcomes(announcement.outcomes) }}">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSignDigits()">
          {{ 'oracleOperations.signdigits' | translate }}</button>
      </ng-container>
    </ng-container>

    <app-alert *ngIf="showAttestationDeleted" [type]="AlertType.success" message="announcementDetail.attestationDeleted" icon="check_circle"></app-alert>
    <app-alert *ngIf="showSigningSuccess" [type]="AlertType.success" message="announcementDetail.outcomeSigned" icon="check_circle"></app-alert>

  </form>

  <div class="status">
    <ng-template [ngIf]="oracleState.oeAnnouncements.value[announcement.eventName] === null"
      [ngIfElse]="announcementBroadcast">
      <p translate>announcementDetail.announcementIsNotBroadcast</p>
    </ng-template>
    <ng-template #announcementBroadcast>
      <p translate>announcementDetail.announcementIsBroadcast</p>
    </ng-template>
    <ng-template [ngIf]="announcement.signedOutcome !== null && 
      oracleExplorer.oracleName.value && 
      oracleState.oeAnnouncements.value[announcement.eventName] &&
      oracleState.oeAnnouncements.value[announcement.eventName].outcome !== null"
      [ngIfElse]="outcomeNotBroadcast">
      <p translate>announcementDetail.outcomeIsBroadcast</p>
    </ng-template>
    <ng-template #outcomeNotBroadcast>
      <p translate>announcementDetail.outcomeIsNotBroadcast</p>
    </ng-template>

    <ng-container *ngIf="!oracleState.oeAnnouncements.value[announcement.eventName]; else viewOnExplorer">
      <button mat-stroked-button (click)="onDeleteClick(); $event.stopPropagation()"
        matTooltip="{{ 'announcementTable.broadcastAnnouncement' | translate }}">
        <mat-icon class="material-icons-outlined">delete</mat-icon>
        <span class="button-label" translate>announcementDetail.deleteAnnouncement</span>
      </button>
      <button mat-stroked-button (click)="onBroadcastClick(); $event.stopPropagation()"
        matTooltip="{{ 'announcementTable.broadcastAnnouncement' | translate }}">
        <mat-icon class="material-icons-outlined">announcement</mat-icon>
        <span class="button-label" translate>announcementDetail.broadcastAnnouncement</span>
      </button>
    </ng-container>
    <ng-template #viewOnExplorer>
      <button mat-stroked-button (click)="onViewOnOEClick(); $event.stopPropagation()"
        matTooltip="{{ '' | translate }}">
        <mat-icon>open_in_new</mat-icon>
        <span class="button-label" translate>announcementTable.viewOnOracleExplorer</span>
      </button>
    </ng-template>

    <ng-container *ngIf="announcement.signedOutcome !== null && 
      oracleExplorer.oracleName.value && 
      oracleState.oeAnnouncements.value[announcement.eventName]">
      <ng-container *ngIf="oracleState.oeAnnouncements.value[announcement.eventName].outcome === null">
        <button mat-stroked-button (click)="onAttestClick(); $event.stopPropagation()"
          matTooltip="{{ 'announcementTable.broadcastOutcome' | translate }}">
          <mat-icon class="material-icons-outlined">campaign</mat-icon>
          <span class="button-label" translate>announcementDetail.broadcastOutcome</span>
        </button>
      </ng-container>
    </ng-container>
  </div>

  <div class="json">
    <label translate>announcementDetail.eventJSON</label>
    <textarea class="announcement-json">{{ announcement | json }}</textarea>
  </div>
 
</section>
