<section class="announcement-detail-section">
  <div class="section-header">
    <h2 translate>announcementDetail.heading</h2>
    <button mat-icon-button class="close-button" (click)="onClose()"><mat-icon>close</mat-icon></button>
  </div>
  
  <form class="form-container">
    <mat-form-field>
      <mat-label translate>createAnnouncement.name</mat-label>
      <input matInput name="eventName" type="text" [(ngModel)]="announcement.eventName" readonly>
    </mat-form-field>

    <!-- <ng-container>
      <br>
      <button type="button" (click)="onSendToOracleExplorer()" translate>oracleExplorer.sendTo</button>
    </ng-container> -->

    <mat-form-field *ngIf="announcement.signedOutcome !== null">
      <mat-label translate>outcome</mat-label>
      <input matInput name="signedOutcome" type="text" [(ngModel)]="announcement.signedOutcome" readonly>
    </mat-form-field>

    <app-alert *ngIf="showSigningSuccess" [type]="AlertType.success" message="announcementDetail.outcomeSigned" icon="check_circle"></app-alert>

    <ng-container *ngIf="announcement.signedOutcome === null">
      <ng-container *ngIf="isEnum()">
        <mat-form-field>
          <mat-label translate>outcome</mat-label>
          <input matInput name="signEnum" type="text" [(ngModel)]="signEventInput">
        </mat-form-field>
        <button type="button" (click)="onSignEnum()" translate>oracleOperations.signenum</button>
      </ng-container>
      <br>
      <ng-container *ngIf="isNotEnum()">
        <mat-form-field >
          <mat-label translate>outcome</mat-label>
          <input matInput name="signDigits" type="number" [(ngModel)]="signDigitsInput">
        </mat-form-field>
        <button type="button" (click)="onSignDigits()" translate>oracleOperations.signdigits</button>
      </ng-container>
    </ng-container>
  </form>

  <!-- <ng-container *ngIf="event.signedOutcome">
    <br>
    <button type="button" (click)="onGetSignatures()" translate>oracleOperations.getsignatures</button>
  </ng-container>
  
  <ng-container *ngIf="signatures">
    <br>
    <label translate>announcementDetail.signatures</label>
    <textarea class="signatures">{{ signatures | json }}</textarea>
  </ng-container> -->
  
  <br>
  <label translate>announcementDetail.eventJSON</label>
  <textarea class="announcement-json">{{ announcement | json }}</textarea>

</section>
