# https://docs.docker.com/ci-cd/github-actions/
name: CI to Docker Hub
on:
  push:
    branches: [master, main, "2021-11-04-wallet-ui-docker"]
    tags: ["*"]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Run apt-get update
        run: sudo apt-get update
      - name: Install dependencies for docker buildx arm support
        run: sudo apt-get install qemu qemu-user-static binfmt-support debootstrap -y
      - name: 'Get Previous tag'
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
        with:
          fallback: 0.0.1 # Optional fallback tag to use when no tag can be found
      - name: Set outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short=8 HEAD)"
      - name: Check outputs
        run: echo ${{ steps.vars.outputs.sha_short }}
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and push oracle server ui
        env: 
          pkg-version: ${{steps.previoustag.outputs.tag}}
        run: |
          docker buildx create --use --name multi-arch-builder
          docker buildx build --platform=linux/amd64,linux/arm64 --push -f oracle-server-ui/Dockerfile -t bitcoinscala/oracle-server-ui:latest -t bitcoinscala/oracle-server-ui:${{steps.previoustag.outputs.tag}}-${{ steps.vars.outputs.sha_short }}-SNAPSHOT .
      - name: Build and push wallet server ui
        env:
          pkg-version: ${{steps.previoustag.outputs.tag}}
        run: |
          docker buildx build --platform=linux/amd64,linux/arm64 --push -f wallet-server-ui/Dockerfile -t bitcoinscala/wallet-server-ui:latest -t bitcoinscala/wallet-server-ui:${{steps.previoustag.outputs.tag}}-${{ steps.vars.outputs.sha_short }}-SNAPSHOT .