# https://github.com/JS-DevTools/npm-publish
name: npm-publish
on:
  push:
    branches:
      [master, main] # Change this to your default branch
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: |
          cd oracle-server-ts
          npm install
          cd ../wallet-ts
          npm install
      - name: Set outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short=8 HEAD)"
      - name: Check outputs
        run: echo ${{ steps.vars.outputs.sha_short }}
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_AUTH_TOKEN }}
          package: ./oracle-server-ts/package.json
          #tag: "${{steps.vars.outputs.sha_short}}"
          check-version: true # will not publish unless version is changed
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_AUTH_TOKEN }}
          package: ./wallet-ts/package.json
          #tag: "${{steps.vars.outputs.sha_short}}"
          check-version: true # will not publish unless version is changed